{% extends "base.html.twig" %}
{% block title %}
	Afficher entreprise / contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}
{% block body %}
    <section id="contents" class="content_tropical container-fluid">
        <!-- entete content -->
        {% include "nav2.html.twig" %}
            <div id="hrs_content">
                <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                    <div class=" div_revenir">
                        <a href="{{ path('liste_client_tw') }}" class="btn btn-default">
                            <span class="fa fa-arrow-left"></span><span class="revenir_liste"></span>
                        </a>
                    </div>
                </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <section class="section_part" id="section_part_top">
                            <div class="sous_titre sous_titre_tw sous_titre_show_client">
                                <h3>{{ nom_client }}</h3>
                            </div>
                            <div class="liste_chiffre_daf">
                                <div class="unite_chiffre chiffre_daf">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires</h4>
                                    </div>
                                    <div class="montant_value">
                                        <span class="montant">
                                            {{ chiffre_daf }}
                                        </span>
                                        <span>Ar</span>
                                    </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires encaissé</h4>
                                    </div>
                                    <div class="montant_value">
                                            <span class="montant">
                                                {{ chiffre_daf_enc }}
                                            </span>
                                            <span>Ar</span>
                                    </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_a_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires à encaissé</h4>
                                    </div>
                                    <div class="montant_value">
                                            <span class="montant">{{ chiffre_daf_a_enc }}</span>
                                            <span>Ar</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <h3 class="small_tittle">Contact</h3>
                        <div class="add_contact">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal_add_contact"><span class="fa fa-plus"></span></a>
                        </div>
                        <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Contact</span></th>
                                        <th><span>Email</span></th>
                                        <th><span>N° de tél</span></th>
                                        <th><span>Actions</span></th>
                                    </tr>
                                </thead>
                                <tbody id="liste_tab_contact">

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Facture en attente de paiement</h3>
                        </div>  
                        <div class="tableau_tropical tableau_scroll">
                            <div class="table_content">
                            <div class="table_header">
                                <div class="t_header_row t_header_trans">
                                    <div class="tw_client_trans">
                                        <span>Références</span>
                                    </div>
                                    <div class="tw_details_trans">
                                        <span>Détails</span>
                                    </div>
                                    <div class="tw_type_trans_trans">
                                        <span>Type de transaction</span>
                                    </div>
                                    <div class="tw_etat_prod_trans">
                                        <span>Etat de production</span>
                                    </div>
                                    <div
                                        class="tw_etape_prod_trans">
                                        {# % production #}
                                        <span>% production</span>
                                    </div>
                                    <div class="tw_paiement_trans">
                                        <span>Paiement</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="total_reglement" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="total_reglement" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_reste_trans">
                                        <span>Reste à payé</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="reste" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="reste" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_montant_total_trans">
                                        <span>Montant total</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="montant_total" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="montant_total" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_date_conf_trans">
                                        <span>Date de confirmation</span>
                                    </div>
                                    <div class="tw_date_facture_trans">
                                        <span>Date de facture</span>
                                    </div>
                                </div>
                            </div>
                                <div class="table_body liste_pf" id="dr_facture_en_attente">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                        <div class="form_remarque1">
                            <form action="" class="form-inline" id="form_remarque">
                                <div class="form-group">
                                    {# par defaut date du jour #}
                                    <label for="">Date: </label>
                                    <input type="date" id="date_remarque" class="form-control" value="{{ today }}">
                                </div>
                                <div class="form-group">                        
                                    <label for="">Concerne: </label>
                                    <select name="" id="id_pro" class="form-control">
                                        {% for item in liste_pf %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Observation: </label>
                                    <input type="text" id="observation" class="form-control observation">
                                </div>
                                 <div class="form-group">
                                    <input type="submit" class="btn btn-xs btn-default" value="Valider" id="valider_remarque_facture_en_attente">
                                </div>
                            </form>
                            <div class="liste_pf_selected_facture_en_attente">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                         <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr class="trh_remarque_a_ter">
                                        <th class="t_date_rem"><span>Date</span></th>
                                        <th class="t_concerne_rem"><span>Concerne</span></th>
                                        <th class="thh_remarque_a_ter t_obs_rem"><span>Observation</span></th>
                                        <th class="t_action_rem"><span>Terminer</span></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody__liste_rem_non_facture_en_attente">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {# en cours #}

                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction en cours</h3>
                        </div>  
                        <div class="tableau_tropical tableau_scroll">
                            <div class="table_content">
                            <div class="table_header">
                                <div class="t_header_row t_header_trans">
                                    <div class="tw_client_trans">
                                        <span>Références</span>
                                    </div>
                                    <div class="tw_details_trans">
                                        <span>Détails</span>
                                    </div>
                                    <div class="tw_type_trans_trans">
                                        <span>Type de transaction</span>
                                    </div>
                                    <div class="tw_etat_prod_trans">
                                        <span>Etat de production</span>
                                    </div>
                                    <div
                                        class="tw_etape_prod_trans">
                                        {# % production #}
                                        <span>% production</span>
                                    </div>
                                    <div class="tw_paiement_trans">
                                        <span>Paiement</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="total_reglement" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="total_reglement" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_reste_trans">
                                        <span>Reste à payé</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="reste" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="reste" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_montant_total_trans">
                                        <span>Montant total</span>
                                        <span class="span_tri">
                                            <a href="#" class="a_tri" data-type="montant_total" data-data="ASC">
                                                <small class="fa fa-sort-asc"></small>
                                            </a>
                                            <a href="#" class="a_tri" data-type="montant_total" data-data="DESC">
                                                <small class="fa fa-sort-desc"></small>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="tw_date_conf_trans">
                                        <span>Date de confirmation</span>
                                    </div>
                                    <div class="tw_date_facture_trans">
                                        <span>Date de facture</span>
                                    </div>
                                </div>
                            </div>
                                <div class="table_body liste_pf" id="dr_transaction_en_cours">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                        <div class="form_remarque1">
                            <form action="" class="form-inline" id="form_remarque_trans_enc">
                                <div class="form-group">
                                    {# par defaut date du jour #}
                                    <label for="">Date: </label>
                                    <input type="date" id="date_remarque_trans_enc" class="form-control" value="{{ today }}">
                                </div>
                                <div class="form-group">                                  
                                    <label for="">Concerne: </label>
                                    <select name="" id="id_pro_trans_enc" class="form-control">
                                        {% for item in liste_pf %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Observation: </label>
                                    <input type="text" id="observation_trans_enc" class="form-control observation">
                                </div>
                                 <div class="form-group">
                                    <input type="submit" class="btn btn-xs btn-default" value="Valider" id="valider_remarque_trans_en_cours">
                                </div>
                            </form>
                            <div class="liste_pf_selected_transaction_en_cours">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                         <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr class="trh_remarque_a_ter">
                                        <th class="t_date_rem"><span>Date</span></th>
                                        <th class="t_concerne_rem"><span>Concerne</span></th>
                                        <th class="thh_remarque_a_ter t_obs_rem"><span>Observation</span></th>
                                        <th class="t_action_rem"><span>Terminer</span></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody__liste_rem_non_trans_en_cours">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {# fin en cours #}
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction terminée</h3>
                        </div> 
                        <div class="tableau_tropical tableau_scroll">
                            <div class="table_content">
                                <div class="table_header">
                                    <div class="t_header_row t_header_trans">
                                        <div class="tw_client_trans">
                                            <span>Références</span>
                                        </div>
                                        <div class="tw_details_trans">
                                            <span>Détails</span>
                                        </div>
                                        <div class="tw_type_trans_trans">
                                            <span>Type de transaction</span>
                                        </div>
                                        <div class="tw_etat_prod_trans">
                                            <span>Etat de production</span>
                                        </div>
                                        <div
                                            class="tw_etape_prod_trans">
                                            {# % production #}
                                            <span>% production</span>
                                        </div>
                                        <div class="tw_paiement_trans">
                                            <span>Paiement</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="ASC">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="DESC">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="tw_reste_trans">
                                            <span>Reste à payé</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="reste" data-data="ASC">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="reste" data-data="DESC">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="tw_montant_total_trans">
                                            <span>Montant total</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="ASC">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="DESC">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="tw_date_conf_trans">
                                            <span>Date de confirmation</span>
                                        </div>
                                        <div class="tw_date_facture_trans">
                                            <span>Date de facture</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table_body" id="div__table_trans_terminer">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {# fin trans en cours #}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                       <div class="tab_small_content" style="margin-top:25px;">
                            <table class="table small_tab">
                                <thead>
                                    <tr class="trh_remarque_a_ter">
                                        <th class="t_date_rem"><span>Date</span></th>
                                        <th class="t_concerne_rem"><span>Concerne</span></th>
                                        <th class="thh_remarque_a_ter t_obs_rem"><span>Observation</span></th>
                                        <th class="t_action_rem"><span>Supprimer</span></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody__liste_rem_oui">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    {# modal nouveau adresse #}
    <div class="modal fade" id="modal_add_adresse" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un adresse siège social</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Adresse siège social</label>
                            <input type="text" placeholder="Adresse" id="adresse" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_modal_add_adresse">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal adresse #}

    {# modal nouveau contact #}
    <div class="modal fade" id="modal_add_contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un nouveau contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_form_add_contact">
                    <form action="">
                        <div class="form-group">
                            <label for="">Contact</label>
                            <input type="text" placeholder="Contact" id="contact" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" id="email" placeholder="Adresse@mail...." class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">N° Téléphone</label>
                            <input type="text" id="telephone" placeholder="03x xxx" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_add_contact" data-id = "">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal contact #}

{% endblock %}
{% block javascripts %}
    <script>

    $(document).ready(function(){

                // lister adresse pour l'entreprise
                var id_client = '{{ id_client }}';

                var liste_pf = [];
                var liste_pf_enc = [];

                $("#id_pro").on('change', function(){
                    var choice = $(this).val();
                    var test = false;
                    for(var i=0; i< liste_pf.length; i++){
                        if(choice == liste_pf[i]){
                            test = true;
                        }
                    }
                    
                    if(test == false){
                        liste_pf.push(choice);
                    }
                    lister_choice_pf()
                })

                $("#id_pro_trans_enc").on('change', function(){
                    var choice = $(this).val();
                    var test = false;
                    for(var i=0; i< liste_pf_enc.length; i++){
                        if(choice == liste_pf_enc[i]){
                            test = true;
                        }
                    }
                    
                    if(test == false){
                        liste_pf_enc.push(choice);
                    }
                    lister_choice_pf_enc()
                })

                function lister_choice_pf(){
                    var html = "<ul>";
                    for(var i = 0; i<liste_pf.length; i++){
                        html += `

                                <li class="li_unite_selected_pf">
                                    <div>
                                        <p class="p_pf_value">`+ liste_pf[i] +`</p>
                                        <span class="fa fa-times exit_pf" data-pf = "`+ liste_pf[i] +`"></span>
                                    </div>
                                </li>

                        `;
                    }
                    html += "</ul>";
                    
                    $(".liste_pf_selected_facture_en_attente").html(html);

                }

                function lister_choice_pf_enc(){
                    var html = "<ul>";
                    for(var i = 0; i<liste_pf_enc.length; i++){
                        html += `

                                <li class="li_unite_selected_pf">
                                    <div>
                                        <p class="p_pf_value">`+ liste_pf_enc[i] +`</p>
                                        <span class="fa fa-times exit_pf_enc" data-pf = "`+ liste_pf_enc[i] +`"></span>
                                    </div>
                                </li>

                        `;
                    }
                    html += "</ul>";
                    
                    $(".liste_pf_selected_transaction_en_cours").html(html);

                }

                $(document).on("click", ".exit_pf", function(){
                    var text = $(this).attr("data-pf");
                    const index = liste_pf.indexOf(text);
				    if (index > -1) {
					    liste_pf.splice(index, 1);
                    }
                    // console.log(liste_pf);
                    lister_choice_pf();
                })

                $(document).on("click", ".exit_pf_enc", function(){
                    var text = $(this).attr("data-pf");
                    const index = liste_pf_enc.indexOf(text);
				    if (index > -1) {
					    liste_pf_enc.splice(index, 1);
                    }
                    // console.log(liste_pf);
                    lister_choice_pf_enc();
                })

                function liter_adresse_entreprise(){
                        
                     var data = {
                        "id_client"    : id_client
                    }
                    $.ajax({
                        url         : "/tropical_wood/entreprise/listerAdresse",
                        type        : "POST",
                        data        : data,
                        success     : function(response){
                           $("#body_tab_adresse").html(response);
                        },
                        error       : function () {
                            alert('Erreur dans lister adress');
                        }
                    })
                }
                liter_adresse_entreprise();

        // action ajout adresse 

        $("#button_modal_add_adresse").on('click', function(ev){
            ev.preventDefault();
            
            //alert(nom_entreprise);
            var data = {
                "adresse"       : $("#adresse").val(),
                "id_client"    : id_client
            }
            $.ajax({
                url         : "/tropical_wood/entreprise/addAdresse",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_adresse_entreprise();
                    $("#modal_add_adresse").modal('hide');
                },
                error       : function () {
                    alert('Erreur dans add adress');
                }
            })
            
        })

        $(document).on('click','.tab_adress_edit', function(ev){
            ev.preventDefault();
            
            var adresse = $(this).attr('data-adresse');
            $("#modal_add_adresse").modal('show');
            $('#adresse').text(adresse);
            
        })

        // add contact

        $(document).on("click", "#button_add_contact", function(ev){
            ev.preventDefault();
            var contact = $("#contact").val();
            // var type_contact = $("#type_contact").val();
            var email = $("#email").val(); 
            var telephone = $("#telephone").val();
            var id_contact = $(this).attr("data-id");
            
            var data = {
                "nom_en_contact"        : contact,               
                // "type"                  : type_contact,
                "email"                 : email,
                "telephone"             : telephone,
                "id_client"            : id_client,
                "id_contact"            : id_contact,
            }

            $.ajax({
                url         :  "/tropical_wood/add_contact",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_contact_entreprise();
                    $("#modal_add_contact").modal('hide');
                },
                error       : function(){
                    alert("erreur add contact");
                }
            })
        })

        // edit contact
        // click edit contact 
        $(document).on("click", ".edit_contact", function(ev){
            ev.preventDefault();
            var id_contact = $(this).attr('data-id');
            
            $.ajax({
                url : "/tropical_wood/edit_contact",
                type : "POST",
                data : {
                    "id_client" : id_client,
                    "id_contact" : id_contact
                },
                success : function(response){
                    $("#modal_form_add_contact").html(response);
                    $("#modal_add_contact").modal('show');
                }, 
                error : function(){
                    alert("erreur au niveau de edit contact");
                }
            })
        })

         // delete contact
        // click delete contact 
        $(document).on("click", ".delete_contact", function(ev){
            ev.preventDefault();
            var id_contact = $(this).attr('data-id');
            $bool = confirm("Voulez-vous vraiment supprimer ce contact ?")
            if($bool == true){
                $.ajax({
                    url : "/tropical_wood/delete_contact",
                    type : "POST",
                    data : {
                        "id_client" : id_client,
                        "id_contact" : id_contact
                    },
                    success : function(response){
                        liter_contact_entreprise();
                    }, 
                    error : function(){
                        alert("erreur au niveau de delete contact");
                    }
                })
            }
        })

            // liste contact
            function liter_contact_entreprise(){
                
                    var data = {
                    "id_client"    : id_client
                }
                $.ajax({
                    url         : "/tropical_wood/entreprise/listercontact",
                    type        : "POST",
                    data        : data,
                    success     : function(response){
                        $("#liste_tab_contact").html(response);
                    },
                    error       : function () {
                        alert('Erreur dans lister contact');
                    }
                })
            }
            liter_contact_entreprise();

            // remarque 

            // add remarque 

            $("#valider_remarque_facture_en_attente").on("click", function(ev){
                ev.preventDefault();
                if(liste_pf.length == 0){
                    var data = {
                        "date_remarque" : $("#date_remarque").val(),
                        "id_pro"        : $("#id_pro").val(),
                        "observation"   : $("#observation").val(),
                        "id_client"     : id_client,
                        'contrainte'    : "facturé",
                    }
                    add_remarque_pf(data);
                }
               
                if(liste_pf.length > 0){
                    var mult_pf = "";
                    for(var i = 0; i< liste_pf.length; i++){
                        if(i < liste_pf.length - 1){
                            mult_pf += liste_pf[i] + ", ";
                        }
                        else{
                            mult_pf += liste_pf[i];
                        }
                        
                    }
                    var data = {
                        "date_remarque" : $("#date_remarque").val(),
                        "id_pro"        : mult_pf,
                        "observation"   : $("#observation").val(),
                        "id_client"     : id_client,
                        'contrainte'    : "facturé",
                    }
                    add_remarque_pf(data);
                }
            })

            // pour trans en cours

            $("#valider_remarque_trans_en_cours").on("click", function(ev){
                ev.preventDefault();
                if(liste_pf_enc.length == 0){
                    var data = {
                        "date_remarque" : $("#date_remarque_trans_enc").val(),
                        "id_pro"        : $("#id_pro_trans_enc").val(),
                        "observation"   : $("#observation_trans_enc").val(),
                        "id_client"     : id_client,
                        'contrainte'    : "en cours",
                    }
                    add_remarque_pf_en_cours(data);
                }
               
                if(liste_pf_enc.length > 0){
                    var mult_pf = "";
                    for(var i = 0; i< liste_pf_enc.length; i++){
                        if(i < liste_pf_enc.length - 1){
                            mult_pf += liste_pf_enc[i] + ", ";
                        }
                        else{
                            mult_pf += liste_pf_enc[i];
                        }
                        
                    }
                    var data = {
                        "date_remarque" : $("#date_remarque").val(),
                        "id_pro"        : mult_pf,
                        "observation"   : $("#observation").val(),
                        "id_client"     : id_client,
                        'contrainte'    : "en cours",
                    }
                    add_remarque_pf_en_cours(data);
                }
            })

            function add_remarque_pf(data){
                 $.ajax({
                    url     : "/tropical_wood/add_remarque", 
                    type    : "POST",
                    data    : data, 
                    success : function(response){
                        $("#form_remarque")[0].reset();
                        lister_rem_non_terminer("facturé");
                        // fafana daholo le liste_pf
                        liste_pf = [];
                        lister_choice_pf();
                    },
                    error   : function(){
                        alert('erreur dans valider remarque');
                    }
                })
            }

            function add_remarque_pf_en_cours(data){
                 $.ajax({
                    url     : "/tropical_wood/add_remarque", 
                    type    : "POST",
                    data    : data, 
                    success : function(response){
                        $("#form_remarque_trans_enc")[0].reset();
                        lister_rem_non_terminer_enc("en cours");
                        // fafana daholo le liste_pf
                        liste_pf_enc = [];
                        lister_choice_pf_enc();
                    },
                    error   : function(){
                        alert('erreur dans valider remarque');
                    }
                })
            }


            // lister remarque non terminé

            function lister_rem_non_terminer(contrainte){
                 $.ajax({
                    url     : "/tropical_wood/lister_remarque_non", 
                    type    : "POST",
                    data    : {
                        "id_client" : id_client,
                        'contrainte' : contrainte
                    }, 
                    success : function(response){
                        $("#tbody__liste_rem_non_facture_en_attente").html(response);
                    },
                    error   : function(){
                        alert('erreur dans liste remarque non terminer');
                    }
                })
            }

            function lister_rem_non_terminer_enc(contrainte){
                 $.ajax({
                    url     : "/tropical_wood/lister_remarque_non", 
                    type    : "POST",
                    data    : {
                        "id_client" : id_client,
                        'contrainte' : contrainte
                    }, 
                    success : function(response){
                        $("#tbody__liste_rem_non_trans_en_cours").html(response);
                    },
                    error   : function(){
                        alert('erreur dans liste remarque non terminer');
                    }
                })
            }
            // lister remarque non terminé

            function lister_rem_terminer(){
               
                 $.ajax({
                    url     : "/tropical_wood/lister_remarque_oui", 
                    type    : "POST",
                    data    : {
                        "id_client" : id_client,
                    }, 
                    success : function(response){
                        $("#tbody__liste_rem_oui").html(response);
                    },
                    error   : function(){
                        alert('erreur dans lister remarque terminer');
                    }
                })
            }


            // edit remarque 
            $(document).on('click', ".edit_remarque", function(ev){
                ev.preventDefault();
                var id_remarque = $(this).attr("data-id");
                var data = {
                    "id_remarque" : id_remarque
                };
                $.ajax({
                    url : "/tropical_wood/edit_remarque",
                    type : "POST",
                    data : data,
                    success : function(response){
                        lister_rem_non_terminer_enc("en cours");
                        lister_rem_non_terminer("facturé");
                        lister_rem_terminer();
                    }, 
                    error : function(){
                        alert('erreur edit remarque passer de ter à supp');
                    }
                })
            })

            // delete remarque 
            $(document).on('click', ".delete_remarque", function(ev){
                ev.preventDefault();
                var id_remarque = $(this).attr("data-id");
                var data = {
                    "id_remarque" : id_remarque
                };
                $.ajax({
                    url : "/tropical_wood/delete_remarque",
                    type : "POST",
                    data : data,
                    success : function(response){
                        lister_rem_terminer();
                    }, 
                    error : function(){
                        alert('erreur edit remarque passer de ter à supp');
                    }
                })
            })


            lister_rem_non_terminer_enc("en cours");
            lister_rem_non_terminer("facturé");
            lister_rem_terminer();

            // lister facture en attente pmt

            function lister_facture_en_att(tri_total_reg, tri_reste, tri_total_montant){
                var data = {
                    "id_client" : id_client,
                    "tri_total_reglement" : tri_total_reg,
                    "tri_reste" : tri_reste,
                    "tri_total_montant" : tri_total_montant
                }
                $.ajax({
                    url : "/tropical_wood/lister_facture_en_att",
                    type : "POST",
                    data : data,
                    beforeSend : function(){
                        $("#dr_facture_en_attente").html('<p style="text-align:center">chargement ...</p>');
                    },
                    success : function(response){
                        $("#dr_facture_en_attente").html(response).promise().done(function(){
							var montant = document.querySelectorAll("#dr_facture_en_attente .montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							};
                        })
                    },
                    error : function(){
                        alert('erreur au niveau de liste trans enc');
                    }
                })
            }

            function lister_transaction_enc(tri_total_reg, tri_reste, tri_total_montant){
                var data = {
                    "id_client" : id_client,
                    "tri_total_reglement" : tri_total_reg,
                    "tri_reste" : tri_reste,
                    "tri_total_montant" : tri_total_montant
                }
                $.ajax({
                    url : "/tropical_wood/lister_transaction_enc",
                    type : "POST",
                    data : data,
                    beforeSend : function(){
                        $("#dr_transaction_en_cours").html('<p style="text-align:center">chargement ...</p>');
                    },
                    success : function(response){
                        $("#dr_transaction_en_cours").html(response).promise().done(function(){
							var montant = document.querySelectorAll("#dr_transaction_en_cours .montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							};
                        })
                    },
                    error : function(){
                        alert('erreur au niveau de liste trans enc');
                    }
                })
            }
             function lister_transaction_terminer(tri_total_reg, tri_reste, tri_total_montant){
                 var data = {
                    "id_client" : id_client,
                    "tri_total_reglement" : tri_total_reg,
                    "tri_reste" : tri_reste,
                    "tri_total_montant" : tri_total_montant
                }
                $.ajax({
                    url : "/tropical_wood/lister_transaction_terminer",
                    type : "POST",
                    data : data,
                    beforeSend : function(){
                        $("#div__table_trans_terminer").html('<p style="text-align:center">chargement ...</p>');
                    },
                    success : function(response){
                        $("#div__table_trans_terminer").html(response).promise().done(function(){
							var montant = document.querySelectorAll("#div__table_trans_terminer .montant");

							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							};
                        })
                    },
                    error : function(){
                        alert('erreur au niveau de liste trans terminer');
                    }
                })
            }
            lister_transaction_enc(null,null,"DESC");
            lister_transaction_terminer(null,null,"DESC");
            lister_facture_en_att(null,null,"DESC");

            // tri
            $(".a_tri").on("click", function(ev){
                ev.preventDefault();
                var data_type = $(this).attr("data-type");
                var data_data = $(this).attr("data-data");
                var data_trans = $(this).attr("data-trans");
                if(data_trans == "encours"){
                    if(data_type == "total_reglement"){
                        lister_transaction_enc(data_data,null,null);
                    }
                    if(data_type == "reste"){
                        lister_transaction_enc(null,data_data,null);
                    }
                    if(data_type == "montant_total"){
                        lister_transaction_enc(null,null,data_data);
                    }
                }
                else if(data_trans == "terminer"){
                    if(data_type == "total_reglement"){
                        lister_transaction_terminer(data_data,null,null);
                    }
                    if(data_type == "reste"){
                        lister_transaction_terminer(null,data_data,null);
                    }
                    if(data_type == "montant_total"){
                        lister_transaction_terminer(null,null,data_data);
                    }
                }
            })
            // choix de pf

            


    })

    </script>
{% endblock %}
