{% extends "base.html.twig" %}
{% block title %}
	Tropical wood
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}

{% block body %}

	<section id="contents" class="content_tropical container-fluid">
		<!-- entete content -->
		{% include "nav2.html.twig" %}
		<!-- / entete content -->
		<!-- contenue  -->
			<div id="hrs_content"> <div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<section class="section_part" id="section_part_top">
						<div class="sous_titre sous_titre_tw">
							<h3>Tableau de bord - Clients</h3>
						</div>
					</section>
				</div>
				{# eto #}
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="col-sm-6 col-xs-6">
						<h4 class="titre_gris">Date de confirmation:
						</h4>
						<form action="" method="post">
							<div class="form-group date_confirmation">
								<span class="fa fa-calendar"></span>
								<input type="date" name="date1" id="date1" class="date_conf-item" {% if date1 is defined %} value={{date1}} {% endif %}>
								<span class="date_conf-item">
									-
								</span>
								<input
								type="date" name="date2" id="date2" class="date_conf-item" {% if date2 is defined %} value={{date2}} {% endif %}>
							</div>
						</form>
					</div>
					<div class="col-sm-6 col-xs-6">
						<h4 class="titre_gris">Date de facture:
						</h4>
						<form action="" method="post">
							<div class="form-group date_confirmation">
								<span class="fa fa-calendar"></span>
								<input type="date" name="date3" id="date3" class="date_conf-item">
								<span class="date_conf-item">
									-
								</span>
								<input
								type="date" name="date4" id="date4" class="date_conf-item">
							</div>
						</form>
					</div>

					<div class="col-sm-12 col-xs-12">
						<h4 class="titre_gris">Type de transaction:
						</h4>
						<div class="liste_btn" data="type_transaction">
							<a href="#" {% if type_transaction is defined %} {% if "Client OF" in type_transaction %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Client OF">
								<span>Officiel</span>
							</a>
							<a href="#" {% if type_transaction is defined %} {% if "Client NO" in type_transaction %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Client NO">
								<span>Non officiel</span>
							</a>
							<a href="#" {% if type_transaction is defined %} {% if "VIP" in type_transaction %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="VIP">
								<span>VIP</span>
							</a>
							<a href="#" {% if type_transaction is defined %} {% if "Groupe" in type_transaction %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Groupe">
								<span>Groupe</span>
							</a>
						</div>
					</div>
					<div class=" col-sm-12 col-xs-12">
						<h4 class="titre_gris">Etat de production:
						</h4>
						<div class="liste_btn" data="etat_production">
							<a href="#" 
								{% if etat_production is defined %} 
									{% if "A faire" in etat_production or "Planning" in etat_production %} class="btn btn-default btn_dore" 
										{% else %} class="btn btn-default btn_gris" 
									{% endif %} 
										{% else %} class="btn btn-default btn_gris" 
								{% endif %} data="A faire*Planning">
								<span>A faire</span>
							</a>
							<a href="#" 
								{% if etat_production is defined %} 
									{% if "Production" in etat_production or "en pose" in etat_production 
										or "en cours" in etat_production or "a controler" in etat_production
									%} 
										class="btn btn-default btn_dore" 
										{% else %} class="btn btn-default btn_gris" 
									{% endif %} 
									{% else %} class="btn btn-default btn_gris" 
								{% endif %} data="Production*en cours*en pose*a controler">
								<span>En production</span>
							</a>
							{# <a href="#" {% if etat_production is defined %} {% if "Pose" in etat_production %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Pose">
								<span>En pose</span>
							</a> #}
							<a href="#" {% if etat_production is defined %} {% if "A facturer" in etat_production %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="A facturer">
								<span>Fini - à Facturer</span>
							</a>
							<a href="#" {% if etat_production is defined %} {% if "Facturé" in etat_production %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="facturé">
								<span>Fini - Facturé</span>
							</a>
						</div>
					</div>
					<div class=" col-sm-12 col-xs-12">
						<h4 class="titre_gris">Etat de paiement:
						</h4>
						<div class="liste_btn" data="etat_paiement">
							<a href="#" {% if etat_paiement is defined %} {% if "Aucun paiement" in etat_paiement %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Aucun paiement">
								<span>Aucun paiement</span>
							</a>
							<a href="#" {% if etat_paiement is defined %} {% if "Paiement partiel" in etat_paiement %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Paiement partiel">
								<span>Paiement partiel effectué</span>
							</a>
							<a href="#" {% if etat_paiement is defined %} {% if "Paiement total" in etat_paiement %} class="btn btn-default btn_dore" {% else %} class="btn btn-default btn_gris" {% endif %} {% else %} class="btn btn-default btn_gris" {% endif %} data="Paiement total">
								<span>Paiement total effectué</span>
							</a>
						</div>
					</div>
					<div class=" col-sm-12 col-xs-12">
						<div>
							<form action="{{ path('tropical_wood') }}" method="post" name="form_for_tri" id="form_for_tri">
								<input type="hidden" id="hidden_date1" name="date1" {% if date1 is defined %} value={{date1}} {% endif %}>
								<input type="hidden" id="hidden_date2" name="date2" {% if date2 is defined %} value={{date2}} {% endif %}>
								<input type="hidden" name="type_transaction" {% if type_transaction_text is defined %} value="{{type_transaction_text}}" {% else %} value="" {% endif %} id="form_type_transaction">
								<input type="hidden" name="etat_production" {% if etat_production_text is defined %} value="{{etat_production_text}}" {% else %} value="" {% endif %} id="form_etat_production">
								<input type="hidden" name="etat_paiement" {% if etat_paiement_text is defined %} value="{{etat_paiement_text}}" {% else %} value="" {% endif %} id="form_etat_paiement">
								<button type="submit" class="btn btn-default btn_black" id="btn_black_filtrer">Filtrer</button>
								<a href="#" id="reinitialisation" class="btn btn-default btn_black">Reinitialisation</a>
							</form>
						</div>
					</div>

				</div>
				{% if tri == false %}
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="block_group_form_import_tw">
						<div class="div__form_upload_excel import_trop">
							{% if error is not defined %}
								<h3>Importer un fichier au format (.xls, csv, xlsx)</h3>
							{% else %}
								<h3 class="bg-danger" style="padding:5px;color:#000 !important;font-size:small;">Il y a une erreur de date à la ligne
									{{ error + 2 }}
									du fichier importer</h3>
							{% endif %}
							{% if message is defined %}
								<div class="message_import bg-danger">
									<p>
										{{ message | raw }}
									</p>
								</div>
							{% endif %}
							{{ form_start(form_add, {
																'attr' : {
																	'id' : 'form_import_excel'
																}
															}) }}
							{{ form_row(form_add.fichier) }}
							<input type="submit" value="Importer" class="btn btn-default btn-sm">
							{{ form_end(form_add) }}
						</div>
					</div>
				{% endif %}


				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="liste_form_search">
						<div class="block_form_search">
							<form>
								<a href="#"><span class="fa fa-search"></span></a>
								<div class="block_deroulement">
									<input type="text" id="entreprise_contact" class="form-control" placeholder="Entreprises/Contacts" autocomplete="off">
									<div class="liste_result_search">
										<ul>
											
										</ul>
									</div>
								</div>
								<input type="hidden" id="input__entreprise" value="" name="entreprise_contact">
								<input type="hidden" name="detail" class="form-control" placeholder="Detail" value="vide">
								<button type="submit" id="button_ok" class="btn btn_ok btn-sm"><span>OK</span></button>
							</form>
							<div class="liste_choice_search">
								<ul>
									{% if liste_choices is defined %}
										{% for t in liste_choices %}
											{% if t != "null" %}
												<li>
													<i class="fa fa-times"></i>
													<p>{{ t }}</p>
												</li>
											{% endif %}
										{% endfor %}
									{% endif %}
								</ul>
							</div>
						</div>
						{# <form action="{{ path('trop_search') }}" method="post">
							<button type="submit"><span class="fa fa-search"></span></button>
							<input type="text" name="detail" class="form-control" placeholder="Details"
								{% if searchD is defined %}
									value ="{{searchD}}"
								{% else %}
									value = ""
								{% endif %}
							>
							<input type="hidden" name="entreprise_contact" class="form-control" placeholder="Entreprises/Contacts" value="vide">
						</form> #}
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<div class="tableau_tropical tableau_scroll">
						<div class="table_content">
							<div class="table_header">
								<div class="t_header_row">
									<div class="tw_client">
										{# <span class="span_check_total" style="float:left !important">
											<input type="checkbox" class="checkbox_total" checked="false" data-check = "false">
										</span> #}
										<span>Client</span>
									</div>
									<div class="tw_details">
										<span>Détails</span>
									</div>
									<div class="tw_type_trans">
										<span>Type de transaction</span>
									</div>
									<div class="tw_etat_prod">
										<span>Etat de production</span>
									</div>
									<div class="tw_etape_prod">
										{# % production #}
										<span>% production</span>
									</div>
									<div class="tw_paiement">
										<span>Paiement</span>
										<span class="span_tri">
											<a href="#" class="a_tri" data-type ="total_reglement" data-data = "ASC">
												<small class="fa fa-sort-asc"></small>
											</a>
											<a href="#" class="a_tri" data-type ="total_reglement" data-data = "DESC">
												<small class="fa fa-sort-desc"></small>
											</a>
										</span>
									</div>
									<div class="tw_reste">
										<span>Reste à payé</span>
										<span class="span_tri">
											<a href="#" class="a_tri" data-type ="reste" data-data = "ASC">
												<small class="fa fa-sort-asc"></small>
											</a>
											<a href="#" class="a_tri" data-type ="reste" data-data = "DESC">
												<small class="fa fa-sort-desc"></small>
											</a>
										</span>
									</div>
									<div class="tw_montant_total">
										<span>Montant total</span>
										<span class="span_tri">
											<a href="#" class="a_tri" data-type ="montant_total" data-data = "ASC">
												<small class="fa fa-sort-asc"></small>
											</a>
											<a href="#" class="a_tri" data-type ="montant_total" data-data = "DESC">
												<small class="fa fa-sort-desc"></small>
											</a>
										</span>
									</div>
									<div class="tw_date_conf">
										<span>Date de confirmation</span>
									</div>
									<div class="tw_date_facture">
										<span>Date de facture</span>
									</div>
								</div>
							</div>
							<div class="table_body">
										
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / contenue  -->
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/cleave.min.js') }}"></script>
	<script>
		$(document).ready(function(){

			// not allow submit form when pressing enter

			$('.liste_form_search form').on('keyup keypress', function(e) {
				var keyCode = e.keyCode || e.which;
				if (keyCode === 13) { 
					e.preventDefault();
					return false;
				}
			});

			// recherche stylé entreprise
			$('#entreprise_contact').on({
				keyup: function(){
					var entre = $(this).val();
					if(entre != ""){
						$(".liste_result_search ul").html("");
						$.ajax({
							url : "{{ path('search_ajax_ec') }}", // search ajax entreprise contact
							tyhpe : "POST",
							data : {
								'mot' : $(this).val()
							},
							success : function(response){
								//console.log(response);
								// on affiche .liste_result_search
								var li = "";
								for (let i = 0; i < response.length; i++) {
									var mot = response[i].entreprise;
									li += '<li><a href="#"><span>'+ mot +'</span></a></li>';
								}
								
								$(".liste_result_search ul").append(li);
								$('.liste_result_search').fadeIn("fast");
							},
							error : function(){
								alert('erreur au niveau de ajax search')
							}
						})
					}
					else{
						$('.liste_result_search').fadeOut("fast");
					}
				},
				blur : function(){
					$('.liste_result_search').fadeOut("fast");
				}
			})
			var liste = [];
			$.each($(".liste_choice_search ul li p"), function (indexInArray, valueOfElement) { 
				 liste.push(valueOfElement.innerHTML);
			});
			// ajout
			$(document).on('click','.liste_result_search ul li a', function(ev){
				ev.preventDefault();
				$(this).parent().parent().parent().fadeOut("fast");
				$('.liste_choice_search').css('display', 'inline-flex');
				var text = $(this).children('span').text();
				liste = push_liste(liste,text);
				afficher_liste(liste);
			})

			function afficher_liste(array){
				var text = "";
				for(var i=0; i<array.length; i++){
					text += `<li>
									<i class="fa fa-times"></i>
									<p>` + array[i] + `</p>
								</li>`;
				}
				$('.liste_choice_search ul').html(text);
			}

			// suppression 

			$(document).on("click", ".liste_choice_search ul li i", function(){
				var text = $(this).siblings('p').text();
				remove_item(liste, text);
				afficher_liste(liste);
			})


			function push_liste(arr, text){
				if(text != ""){
					arr.push(text);
					var input = $('#input__entreprise').val();
					var prim="null";
					for(var i = 0; i< arr.length; i++){
						prim += "*";
						prim += arr[i];
					}
					$('#input__entreprise').val(prim)
				}
				return arr;
			}

			function remove_item(arr, text){
				const index = arr.indexOf(text);
				if (index > -1) {
					arr.splice(index, 1);
					var input = $('#input__entreprise').val();
					var prim="null";
					for(var i = 0; i< arr.length; i++){
						prim += "*";
						prim += arr[i];
					}
					$('#input__entreprise').val(prim)
				}
				return arr;
			}

			$('.logo_active').removeClass('logo_active');
			$('#li_tropical').addClass('logo_active');
			$('#li_tropical a div img').css('width', '53px');
			var tab1 = $('#form_type_transaction').val();
			tab1 = tab1.split('*');
			tab1.shift();
			var tab2 = $('#form_etat_production').val();
			tab2 = tab2.split('*');
			tab2.shift();
			var tab3 = $('#form_etat_paiement').val();
			tab3 = tab3.split('*');
			tab3.shift();
			var liste_type_transaction = tab1;
			var liste_etat_production = tab2;
			var liste_etat_paiement = tab3;
			function arrayRemove(arr, value) { 
				for(var i=0; i< arr.length; i++){
					if(arr[i] == value){
						var num = i;
						arr.splice(num,1);
					}
				}
				return arr;
			}
			function check_item(arr, item){
				for(var i=0; i< arr.length; i++){
					if(arr[i] == item){
						return true;
					}
					else{
						return false;
					}
				}
			}
			$('.liste_btn a').on('click', function(ev){
				ev.preventDefault();
				if($(this).hasClass('btn_gris')){
					$(this).removeClass('btn_gris');
					$(this).addClass('btn_dore');
					var son_data = $(this).attr("data");
					var son_parent = $(this).parent().attr("data");
					if(son_parent == "type_transaction"){
						if(!check_item(liste_type_transaction, son_data)){
							liste_type_transaction.push(son_data);
						}
					}
					if(son_parent == "etat_production"){
						if(!check_item(liste_etat_production,son_data)){
							liste_etat_production.push(son_data);
						}
					}
					if(son_parent == "etat_paiement"){
						if(!check_item(liste_etat_paiement,son_data)){
							liste_etat_paiement.push(son_data);
						}
					}
				}else{
					$(this).removeClass('btn_dore');
					$(this).addClass('btn_gris');
					var son_data = $(this).attr("data");
					var son_parent = $(this).parent().attr("data");
					if(son_parent == "type_transaction"){
						if(liste_type_transaction.includes(son_data)){
							arrayRemove(liste_type_transaction, son_data);
						}
					}
					if(son_parent == "etat_production"){
						if(liste_etat_production.includes(son_data)){
							arrayRemove(liste_etat_production, son_data);
						}
					}
					if(son_parent == "etat_paiement"){
						if(liste_etat_paiement.includes(son_data)){
							arrayRemove(liste_etat_paiement, son_data);
						}
					}
				}	
			})
			$('#btn_black_filtrer').on('click', function(ev){
				ev.preventDefault();
				load_by_btn_black(null, null, "DESC", "filtrer");
			})

			function load_by_btn_black(typeReglement, typeReste, typeMontant, filtre){
				// init prend soit la valeur init ou filtrer
				$('#input__entreprise').val(""); // on vide cet input pour eviter les conflit avec le button ok du recherche
				// on concatenne par * les données dans chaque liste
				var data_type_trans = "";
				var data_etat_prod = "";
				var data_etat_paie = "";

				for(var i=0; i<liste_type_transaction.length; i++){
					if(liste_type_transaction.length>0){
						data_type_trans+="*";
						data_type_trans+=liste_type_transaction[i];
					}
					else{
						data_type_trans+=liste_type_transaction[i];
					}
				}

				for(var i=0; i<liste_etat_production.length; i++){
					if(liste_etat_production.length>0){
						data_etat_prod+="*";
						data_etat_prod+=liste_etat_production[i];
					}
					else{
						data_etat_prod+=liste_etat_production[i];
					}
				}

				for(var i=0; i<liste_etat_paiement.length; i++){
					if(liste_etat_paiement.length>0){
						data_etat_paie+="*";
						data_etat_paie+=liste_etat_paiement[i];
					}
					else{
						data_etat_paie+=liste_etat_paiement[i];
					}
				}

				$.ajax({
					url : "/tropical_wood/tri_ajax_btn_black/tropical",
					type : "POST",
					data : {
						'type_transaction' 	: data_type_trans,
						'etat_production'  	: data_etat_prod,
						'etat_paiement'	   	: data_etat_paie,
						'typeReglement'		: typeReglement,
						'typeReste'			: typeReste,
						'typeMontant'		: typeMontant,
						'date1'				: $('#date1').val(),
						'date2'				: $('#date2').val(),
						'date3'				: $('#date3').val(),
						'date4'				: $('#date4').val(),
						"filtre"			: filtre,
						},
					beforeSend : function(){
						$('.table_body').html(`
						<div style="display:flex; justify-content:center; align-items:center;">
						   <p style="text-align:center;"> Chargement ....</p>
						</div>
						
						`);
					},
					success : function(response){
						$('.table_body').html("");
						$('.table_body').html(response).promise().done(function(){
							var montant = document.querySelectorAll(".montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							}
						});
					},
					error : function(){
						alert('erreur ajax ri_ajax_btn_black/tropical')
					}
				})
			}
			
			// supprimer par ligne pf

			$(document).on('click', '.btn_delete_pf', function(ev){
				ev.preventDefault();
				var data_id = $(this).attr('data-id');
				var test = confirm("Voulez-vous vraiment supprimer cette ligne");
				if(test == true){
					$(this).parent().parent().hide();
					$.ajax({
						url : "/tropical_wood/delete_pf",
						type : "POST",
						data : {
							"id" : data_id,
						},
						success : function(response){
							if($response == "suppression ok"){
								console.log("ok pour la suppression");	
							}
						},
						error : function(){
							alert('Error au niveau de la suppression id_pro');
						}
					})
				}
			})

			$('#reinitialisation').on('click', function(ev){
				ev.preventDefault();
				$('#input__entreprise').val("");
				// on concatenne par * les données dans chaque liste
				var data_type_trans = "";
				var data_etat_prod = "";
				var data_etat_paie = "";

				liste_type_transaction = [];
				liste_etat_production = [];
				liste_etat_paiement = [];

				// on remet tout à gris

				$(".btn_dore").addClass('btn_gris');
				$(".btn_gris").removeClass('btn_dore');

				$("input[type=date]").val("");
				
				/*$.ajax({
					url : "/tropical_wood/tri_ajax_btn_black/tropical",
					type : "POST",
					data : {
						'type_transaction' : data_type_trans,
						'etat_production'  : data_etat_prod,
						'etat_paiement'	   : data_etat_paie,
						''
						},
					beforeSend : function(){
						$('.table_body').html(`
						<div style="display:flex; justify-content:center; align-items:center;">
						   <p style="text-align:center;"> Chargement ....</p>
						</div>
						
						`);
					},
					success : function(response){
						$('.table_body').html("");
						$('.table_body').html(response).promise().done(function(){
							var montant = document.querySelectorAll(".montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							}
						});
					},
					error : function(){
						alert('erreur ajax ri_ajax_btn_black/tropical')
					}
				})*/
				load_by_btn_black(null, null, "DESC", "init");
			})

			function lister_datas(){
				var data_type_trans = "";
				var data_etat_prod = "";
				var data_etat_paie = "";

				for(var i=0; i<liste_type_transaction.length; i++){
					if(liste_type_transaction.length>0){
						data_type_trans+="*";
						data_type_trans+=liste_type_transaction[i];
					}
					else{
						data_type_trans+=liste_type_transaction[i];
					}
				}

				for(var i=0; i<liste_etat_production.length; i++){
					if(liste_etat_production.length>0){
						data_etat_prod+="*";
						data_etat_prod+=liste_etat_production[i];
					}
					else{
						data_etat_prod+=liste_etat_production[i];
					}
				}

				for(var i=0; i<liste_etat_paiement.length; i++){
					if(liste_etat_paiement.length>0){
						data_etat_paie+="*";
						data_etat_paie+=liste_etat_paiement[i];
					}
					else{
						data_etat_paie+=liste_etat_paiement[i];
					}
				}

				$.ajax({
					url : "/tropical_wood/tri_ajax_btn_black/tropical",
					type : "POST",
					data : {
						'type_transaction' : data_type_trans,
						'etat_production'  : data_etat_prod,
						'etat_paiement'	   : data_etat_paie,
						"filtre"		   : "init",
						},
					beforeSend : function(){
						$('.table_body').html(`
						<div style="display:flex; justify-content:center; align-items:center;">
						   <p style="text-align:center;"> Chargement ....</p>
						</div>
						
						`);
					},
					success : function(response){
						$('.table_body').html("");
						$('.table_body').html(response).promise().done(function(){
							var montant = document.querySelectorAll(".montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							}
						});
					},
					error : function(){
						alert('erreur ajax ri_ajax_btn_black/tropical')
					}
				})

			}

			$('#button_ok').on('click', function(ev){
				ev.preventDefault();
				load_by_button_ok(null, null, "DESC"); // load_by_button_ok est la fonction pour activer les tri du tab lie avec submit button_ok
			})

			$('.a_tri').on('click', function(ev){
				ev.preventDefault();
				$.each($('.a_tri small'), function (indexInArray, valueOfElement) { 
					 if($(this).hasClass('black')){
						 $(this).removeClass('black');
					 }
				});
				$(this).children("small").addClass('black');
				var input__entreprise_ajax = $('#input__entreprise').val();
				var son_data_type = $(this).attr('data-type');
				var son_data_data = $(this).attr('data-data');
				if(input__entreprise_ajax != ""){

					if(son_data_type == "total_reglement"){
						load_by_button_ok(son_data_data, null, null, "filtrer");
					}
					if(son_data_type == "reste"){
						load_by_button_ok(null, son_data_data, null, "filtrer");
					}
					if(son_data_type == "montant_total"){
						load_by_button_ok(null, null, son_data_data, "filtrer");
					}
				}
				else{
					if(son_data_type == "total_reglement"){
						load_by_btn_black(son_data_data, null, null, "filtrer");
					}
					if(son_data_type == "reste"){
						load_by_btn_black(null, son_data_data, null, "filtrer");
					}
					if(son_data_type == "montant_total"){
						load_by_btn_black(null, null, son_data_data, "filtrer");
					}
				}
				
			})



			function load_by_button_ok(tri_reglement, tri_reste, tri_montant){
				var input__entreprise_ajax = $('#input__entreprise').val();
				$.ajax({
					url : "/tropical_wood/search_ajax_btn_ok/tropical",
					type : "POST",
					data : {
							'input__entreprise_ajax' 	: input__entreprise_ajax,
							'tri_reglement' 			: tri_reglement,
							'tri_reste'					: tri_reste,
							'tri_montant'				: tri_montant,
						},
					beforeSend : function(){
						$('.table_body').html(`
						<div style="display:flex; justify-content:center; align-items:center;">
						   <p style="text-align:center;"> Chargement ....</p>
						</div>
						
						`);
					},
					success : function(response){
						$('.table_body').html("");
						$('.table_body').html(response).promise().done(function(){
							var montant = document.querySelectorAll(".montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							}
						});
					},
					
					error : function(){
						alert('erreur ajax ri_ajax_btn_black/tropical')
					}
				})
			}

			// a_tri
			
			lister_datas();
			
			// animation au drop down pour les detail des data

			$(document).on('click', '.btn_drop_data', function(ev){
				ev.preventDefault();
				//$(".div_for_droping").hide(); on peut voir plusieurs
				//$('.btn_drop_data span').removeClass('fa-angle-down');
				$('.btn_drop_data span').addClass('fa-angle-up');
				// on drop ses details
				if($(this).children('span').hasClass('fa-angle-up')){
					if($(this).attr('clicked') == 'false'){
						
						$(this).children('span').removeClass('fa-angle-up');
						$(this).children('span').addClass('fa-angle-down');
						$(this).parent().siblings(".div_for_droping").slideDown();
						$(this).attr('clicked', 'true');
					}
					else{
						
						$(this).children('span').removeClass('fa-angle-down');
						$(this).children('span').addClass('fa-angle-up');
						$(this).parent().siblings(".div_for_droping").slideUp();
						$(this).attr('clicked', 'false');
					}
				}
			})
			// annimation checkbox
			// $('.checkbox_total').prop('checked', false);
			// $('.checkbox_total').on("change", function(){
				
			// 	if($(this).attr('data-check') == "false"){
			// 		$(this).attr('data-check', "true");
			// 		$('.span_check_unite').prop('checked', true);
			// 		$('.span_check_unite').show();
			// 	}
			// 	else{
			// 		$(this).attr('data-check', "false");
			// 		$('.span_check_unite').hide();
			// 	}
			// })
			
			/*$(document).on('change', '.checkbox_unite', function(){
				var data_check = $(this).attr('data-check');
				if(data_check == "true"){
					// +
					$(this).attr('data-check', "false");
					var total_reglement = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_paiement").attr('data');
					var total_reste = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_reste").attr('data');
					var total_montant = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_montant").attr('data');

					total_reglement = parseInt(total_reglement)
					total_reste = parseInt(total_reste)
					total_montant = parseInt(total_montant)
					//alert("reg = " + total_reglement + " reste = " + total_reste + " montant = " + total_montant);
					Total_reglement = parseInt($('#total_paiement').attr('data'));
					Total_reglement = Total_reglement - total_reglement;
					$('#total_paiement').attr('data', Total_reglement);
					Total_reste = parseInt($('#total_reste').attr('data'));
					Total_reste = Total_reste - total_reste;
					$('#total_reste').attr('data', Total_reste);
					Total_montant = parseInt($('#total_montant').attr('data'));
					Total_montant = Total_montant - total_montant;
					$("#total_montant").attr('data', Total_montant);

					var tr_aff = $("#total_paiement").attr('data')
					var treste_aff = $("#total_reste").attr('data')
					var tm_aff = $("#total_montant").attr('data')
					// affichage
					$("#parent_total_paiement").html(`
						 <span class="montant value" id="total_paiement" data="` + Total_reglement + `">
							` + Total_reglement + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_paiement");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});
					$("#parent_total_reste").html(`
						 <span class="montant value" id="total_reste" data="` + Total_reste + `">
							` + Total_reste + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_reste");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});

					$("#parent_total_montant").html(`
						 <span class="montant value" id="total_montant" data="` + Total_montant + `">
							` + Total_montant + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_montant");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});

				}
				else if(data_check == "false"){
					// -
					$(this).attr('data-check', "true");
					var total_reglement = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_paiement").attr('data');
					var total_reste = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_reste").attr('data');
					var total_montant = $(this).parent().parent().parent().siblings(".sous_total_content").find(".total_montant").attr('data');
					total_reglement = parseInt(total_reglement)
					total_reste = parseInt(total_reste)
					total_montant = parseInt(total_montant)
					//alert("reg = " + total_reglement + " reste = " + total_reste + " montant = " + total_montant);
					Total_reglement = parseInt($('#total_paiement').attr('data'));
					Total_reglement = Total_reglement + total_reglement;
					$('#total_paiement').attr('data', Total_reglement);
					Total_reste = parseInt($('#total_reste').attr('data'));
					Total_reste = Total_reste + total_reste;
					$('#total_reste').attr('data', Total_reste);
					Total_montant = parseInt($('#total_montant').attr('data'));
					Total_montant = Total_montant + total_montant;
					$("#total_montant").attr('data', Total_montant);
					// affichage
					$("#parent_total_paiement").html(`
						 <span class="montant value" id="total_paiement" data="` + Total_reglement + `">
							` + Total_reglement + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_paiement");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});
					$("#parent_total_reste").html(`
						 <span class="montant value" id="total_reste" data="` + Total_reste + `">
							` + Total_reste + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_reste");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});

					$("#parent_total_montant").html(`
						 <span class="montant value" id="total_montant" data="` + Total_montant + `">
							` + Total_montant + `
						</span>
					`).promise().done(function(){
							var montant = document.querySelector("#total_montant");
							var test = new Intl.NumberFormat();
							var val = test.format(montant.innerHTML);
							montant.innerHTML = val;
						});
				}
				//total_reste, total_montant
				
			})*/
			
		})
		

		
	</script>
{% endblock %}

