<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Mot de passe oublié
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800,900,1000&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('css/forgot_pass.css') }}">
	</head>

	<body>

		<section class="wrapper">
			<div class="container-fluid">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="fond_gauche"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="row">
						<div class="grand_titre_si">
							<div class="bg_titre">
								<span>DASHBOARD</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="div_parag">
							{% if mp is defined %}
								<p>{{ mp | raw }}</p>
							{% else %}
								<p>Entrer votre adresse mail pour recevoir votre nouveau mot de passe.</p>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="form">
							<form action = "{{ path('forgot_password') }}" method = "POST">
								<div class="form-group">
									<span class="span__label"></span><input type="text" data-placeholder="Adresse mail" name="email" class="form-control" id="mail" placeholder="Adresse mail">
								</div>
								<div class="form-group last_iput">
									<input type="submit" value="Envoyer" id="btn_sr" class="btn btn-md">
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						<p>Conditions d'utilisation. Politique de confidentialité</p>
					</div>
				</div>
			</div>
		</section>
			<script src="{{asset('jquery/jquery.min.js')}}"></script>

			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
			<script>
				/* pour l'annimation de loader */


			$(document).ready(function () {
				setTimeout(function () {
				$('body').addClass('loaded');
				}, 2000);
			})

			/* fin loader */
			</script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
			<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
			<script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>
			<script src="https://cdn.datatables.net/responsive/2.2.4/js/responsive.bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
			<script src='{{ asset('js/currency.js') }}'></script>
			<script src='{{ asset('js/dashboard.js') }}'></script>
			<script>

				/*animation des input  */

				$(document).ready(function () {
					$("input[placeholder]").on({
						focus: function () {
							$(this).parent().children(".span__label").text($(this).attr('placeholder'));
							$(this).attr('placeholder', ' ');
							$(this).css("border-color", "#d29e00");
						},
						blur: function () {
							var t = $(this).attr('data-placeholder');
							$(this).attr('placeholder', t);
							$(this).parent().children(".span__label").text("");
							$(this).css("border-color", "#e2e3e6");
						}
					})
				})

			/* / animation des input  */

			</script>
	</body>
</html>