{% extends "base.html.twig" %}
{% block title %}
	Tropical wood
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}

{% block body %}

	<section
		id="contents" class="content_tropical container-fluid">
		<!-- entete content -->
		{% include "nav2.html.twig" %}
		<!-- / entete content -->
		<!-- contenue  -->
				<div id="hrs_content"> 				
					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
						<div class="entete_tresor">
							<div class="titre_tresor">
								<h4><strong>Trésorerie</strong></h4>
							</div>
							<div class="btn_form_tresor">
								<a href="#" class="btn btn-default btn_gris" id="show_formulaire">
									<span class="fa fa-plus"></span><span>Formulaire</span>
								</a>
							</div>
						</div>
						{# formulaire #}
						<div id="formulaire" class="form_hide">
							<div class="action">
								<button id="action_hide_form"><span class="fa fa-long-arrow-right "></span></button>
							</div>
							<div class="entete_tresor">
								<div class="titre_tresor">
									<h4><strong>Trésorerie</strong></h4>
								</div>
							</div>
							<div class="form_rec_dep">
								<form action="">
									<div class="form-group">
										<p>
											<input type="radio" class="radio" id="encaissement" name="radio-group" value="encaissement" checked>
											<label for="encaissement">Encaissement</label>
										</p>
										<p>
											<input type="radio" class="radio" id="decaissement" name="radio-group" value ="decaissement">
											<label for="decaissement">Décaissement</label>
										</p>
									</div>
									<input type="hidden" name="choice" id="choice" value="">
									<div class="form-group">
										<label for="">Date </label>
										<input type="date" id="date">
									</div>
									<div class="form-group">
										<label for="">Désignation </label>
										<input type="designation" id="designation">
									</div>
									{# si Recette #}
				
									<div class="form-group form_recette">
										<label for="">ID pro </label>
										<input type="text" id="id_pro">
									</div>
									<div class="form-group form_recette">
										<label for="">Client </label>
										<input type="text" id="client">
									</div>
									
									{# fin si recette #}

									{# si Dépense #}
									<div class="form-group form_depense">
										<label for="">Fournisseur </label>
										<input type="text" id="prestataire">
									</div>
									
									{# fin dépense #}

									<div class="form-group">
										<label for="">N° Sage </label>
										<input type="text" id="sage">
									</div>
									<div class="form-group">
										<label for="">Mode paiement </label>
										<select name="" id="mode_pmt">
											<option value="ESPECES">ESPECES</option>
											<option value="CHEQUE">CHEQUE</option>
											<option value="VIREMENT">VIREMENT</option>
											<option value="PRELEVEMENT">PRELEVEMENT</option>
											<option value="TRAITE">TRAITE</option>
										</select>
									</div>
									<div class="form-group">
										<label for="">Compte </label>
										<select name="" id="compte_b">
											<option value="CAISSE AR">CAISSE AR</option>
											<option value="BNI AR" selected="selected">BNI AR</option>
											<option value="BNI EURO">BNI EURO</option>
											<option value="BMOI AR">BMOI AR</option>
											<option value="MCB AR">MCB AR</option>
											<option value="BFV AR">BFV AR</option>
											<option value="BOA AR">BOA AR</option>
										</select>
									</div>
									<div class="form-group form_depense">
										<label for="" id="label_num_compte">N° compte </label>
										<input type="text" id="num_compte">
									</div>
									<div class="form-group form_depense">
										<label for="">Montant </label>
										<input type="text" id="decaissement_montant" class="input_nombre">
									</div>
									<div class="form-group form_recette">
										<label for="">Montant </label>
										<input type="text" id="encaissement_montant" class="input_nombre">
									</div>
									<div class="form-group">
										<label for="">Monnaie </label>
										<select name="" id="monnaie">
											<option value="Ar">Ar</option>
											<option value="Euro">Euro</option>
										</select>
									</div>
									<div class="form-group form_recette">
										<label for="">Catégorie </label>
										<select name="" id="categorie_recette">
											<option value="" selected="selected">Choisir une catégorie</option>
											<option value="Approvisionnement">Approvisionnement</option>
											<option value="Paiement facture d'acompte">Paiement facture d'acompte</option>
											<option value="Paimenent facture solde">Paimenent facture solde</option>
											<option value="Retour de frais">Retour de frais</option>
										</select>
									</div>
									<div class="form-group form_depense">
										<label for="">Catégorie </label>
										<select name="" id="categorie">
											<option value="" selected="selected">Choisir une catégorie</option>
											{% for element in liste_cate %}
												<option value="{{ element.getNom() }}">{{ element.getNom() }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group form_depense">
										<label for="">Sous catégorie </label>
										<select name="" id="sous_categorie">
											<option value="" selected="selected">Choisir une sous-catégorie</option>
										</select>
									</div>
									<div class="form-group" id="error_form">
										<p></p>
									</div>
									<div class="last_fg">
										<button class="btn btn-default" id = "ajout_tres"><span>Enregistrer</span></button>
									</div>
								</form>
								{# <div id="test"></div> #}
							</div>
						</div>
						<div class="entete_tresor entete_2">
							<div class="type_banque">
								<h4>Comptes</h4>
							</div>
							<div class="banque1">
								<div class="banque1_content">
									<div class=" top">
										<img src="{{ asset('images/caisse.png') }}" alt="logo banque 1">
										<span class="nom_banque">
											CAISSE EN AR
										</span>
									</div>
									<p class="val_montant_banque">
										120000000
									</p>
								</div>
								<div class="banque1_content">
									<div class="top">
										<img src="{{ asset('images/bni.png') }}" alt="logo banque 2">
										<span class="nom_banque">
											BNI EN AR
										</span>
									</div>
									<p class="val_montant_banque">
										120000000
									</p>
								</div>
							</div>
							<div class="banque2">
								<div class="unite_banque2">
									<span class="img">
										<img src="{{ asset('images/bni.png') }}" alt="banque 3">
									</span>
									<span>
										<p class="nom_banque2">
											BNI EN €
										</p>
										<p class="val_montant_banque">
											120000000
										</p>
									</span>
								</div>
								<div class="unite_banque2">
									<span class="img">
										<img src="{{ asset('images/bmoi.png') }}" alt="banque 3">
									</span>
									<span>
										<p class="nom_banque2">
											BMOI EN AR
										</p>
										<p class="val_montant_banque">
											120000000
										</p>
									</span>
								</div>
								<div class="unite_banque2">
									<span class="img">
										<img src="{{ asset('images/mcb.png') }}" alt="banque 3">
									</span>
									<span>
										<p class="nom_banque2">
											MCB EN AR
										</p>
										<p class="val_montant_banque">
											120000000
										</p>
									</span>
								</div>
								<div class="unite_banque2">
									<span class="img">
										<img src="{{ asset('images/bfv.png') }}" alt="banque 3">
									</span>
									<span>
										<p class="nom_banque2">
											BFV EN AR
										</p>
										<p class="val_montant_banque">
											120000000
										</p>
									</span>
								</div>
								<div class="unite_banque2">
									<span class="img">
										<img src="{{ asset('images/boa.png') }}" alt="banque 3">
									</span>
									<span>
										<p class="nom_banque2">
											BOA EN AR
										</p>
										<p class="val_montant_banque">
											120000000
										</p>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
						<div class="liste_button_tres">
							<aside class="button_banque">
								<a href="#" class="btn btn_dore" id="btn_recette" data-id = "tableau_recette">
									<span>Encaissement</span>
								</a>
							</aside>
							<aside class="button_banque">
								<a href="#" class="btn btn_gris" id="btn_depense" data-id ="tableau_depense">
									<span>Décaissement</span>
								</a>
							</aside>
						</div>
						<div class="filtre_tresor">
							<aside class="part_filter">
								<div class="form_date">
									<form action="" class="form-inline">
										<div class="form-group">
											<label for="">Date</label>
											<input type="date" id="date1">
										</div>
										<div class="form-group">
											<input type="date" id="date2">
										</div>
										<div class="form-group">
											<button class="btn_black_tres" id="trier_by_btn_ok"><span>OK</span></button>
										</div>
									</form>
								</div>
								<div class="form_search">
									<form action="">
										<input type="text" placeholder="Client" id = "input_search">
										<select name="" id="select_search">
											<option value="Client">Client</option>
											<option value="ID Pro">ID Pro</option>
											<option value="Numero Sage">Numero Sage</option>
											<option value="Prestataire">Prestataire</option>
										</select>
										<button class="btn_black_tres" id="button_search_tres">Rechercher</button>
									</form>
								</div>
							</aside>
						</div>
						<div class="tableau_tropical tableau_scroll tab_active" id="tableau_recette_depense">
							<div class="table_content">
								<div class="table_header">
									<div class="t_header_row t_header_trans t_header_tres">
										<div class="tres_des">
											<span>Désignation</span>
										</div>
										<div class="tres_date">
											<span>Date</span>
										</div>
										<div class="tres_mode_p">
											<span>Mode de paiement</span>
										</div>
										<div class="tres_compte_b">
											<span>Compte bancaire/Caisse</span>
										</div>
										<div class="tres_compte_b">
											<span>Encaissement</span>
										</div>
										<div class="tres_compte_b">
											<span>Décaissement</span>
										</div>
										<div class="tres_monnaie">
											<span>Monnaie</span>
										</div>
										<div class="tres_monnaie">
											<span>Type de flux</span>
										</div>
										<div class="tres_des">
											<span>Catégorie</span>
										</div>
										<div class="tres_des">
											<span>Sous-catégorie</span>
										</div>
										<div class="tres_idPro">
											<span>ID Pro</span>
										</div>
										<div
											class=" tres_client">
											<span>Client</span>
										</div>
										<div class="tres_sage">
											<span>N° Sage</span>
										</div>
										<div
											class=" tres_client">
											<span>Prestataire</span>
										</div>
									</div>
								</div>
								<div class="table_body liste_pf" id="body_tresorerie">
									
								</div>
							</div>
						</div>						
					</div>
				</div>
		<!-- / contenue  -->
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/cleave.min.js') }}"></script>
	<script>
		window.onload = function(){
			// on force le navigateur à imposer l'option de depart
			var sortBySelect = document.querySelector("#categorie"); 
			sortBySelect.value = ""; 
			sortBySelect.dispatchEvent(new Event("change"));
			// fin force

			// on force le navigateur à imposer l'option de depart
			var sortBySelect = document.querySelector("#sous_categorie"); 
			sortBySelect.value = ""; 
			sortBySelect.dispatchEvent(new Event("change"));
			// fin force

			var compte_b = document.querySelector('#compte_b').value ;
			
			if(compte_b == "CAISSE AR"){
				
				document.querySelector('#num_compte').style.display = "none";
				document.querySelector('#label_num_compte').style.display = "none";
			}

			var n = document.querySelectorAll(".input_nombre");
			for (var i = n.length - 1; i >= 0; i--) {
				new Cleave(n[i], { // prefix: 'Ar ',
				numeral: true,
				delimiter: [' '],
				numeralThousandsGroupStyle: 'thousand',
				numericOnly: true
				});
			}
		}
		var montant = document.querySelectorAll(".val_montant_banque");
		var t = montant.length;
		var test = new Intl.NumberFormat();
		if (t > 0) {
			for (var i = 0; i < t; i++) {
				var val = test.format(montant[i].innerHTML);
				montant[i].innerHTML = val;
			}
		}
		
		$(document).ready(function(){
			
			// affichage au niveau des banques

			$('.btn_voir_plus p').on('click', function(){
				var span = $(this).find('.fa');
				var unite = $(this).find('.unite');
				if(span.hasClass('fa-plus')){
					span.removeClass('fa-plus');
					span.addClass('fa-minus');
					unite.text("Réduire");
					$(".aside_banques section").css("display", "flex");
				}
				else if(span.hasClass('fa-minus')){
					span.removeClass('fa-minus');
					span.addClass('fa-plus');
					unite.text("Voir plus");
					$(".aside_banques section").fadeOut();
				}
				
			})

			// on change categorie

			$("#categorie").on('change', function(){
				var val = $(this).val();
				if(val != ""){
					$.post("/check_his_sous_category", 
							{"nom" : val},
							function(data, status){
								if(status == "success"){
									var html = "";
									for(var i = 0; i < data.length; i++){
										
										html += '<option value="'+ data[i] +'"><span>'+ data[i] +'</span></option>';
									}
									$("#sous_categorie").html(html);
								}
							}
					)
				}
			})

			// event form dec enc

			$('.form_depense').hide();

			function lister_data_tresorerie(){
				var nbr_btn_dore = document.querySelectorAll(".button_banque .btn_dore").length;
				var data = {
					"date1" : $("#date1").val(),
					"date2" : $("#date2").val(),
					"key_flux" : ""
				};
				if(nbr_btn_dore == 2){
					data.key_flux = "all";
				}
				else if(nbr_btn_dore == 1){
					var id = document.querySelectorAll(".button_banque .btn_dore")[0].getAttribute("id");
					if(id == "btn_recette"){
						data.key_flux = "encaissement";
					}
					if(id == "btn_depense"){
						data.key_flux = "decaissement";
					}
				}
				var url = "{{ path('lister_data_tresorerie') }}";
				var ajax = $.post(url, data, function(data){
					$('#body_tresorerie').html(data).promise().done(function(){
						var montant = document.querySelectorAll(".montant");
						var t = montant.length;
						var test = new Intl.NumberFormat();
						if (t > 0) {
							for (var i = 0; i < t; i++) {
								var val = test.format(montant[i].innerHTML);
								montant[i].innerHTML = val;
							}
						}
					});
					$('#formulaire').addClass('form_hide');
				})
				ajax.fail(function() {
					console.log('erreur au niveau de aff data tresorerie')
				})
			}

			
			lister_data_tresorerie();
			
			$('#btn_recette').on('click', function(ev){
				ev.preventDefault();
				if($(this).hasClass('btn_gris')){
					
					$(this).removeClass('btn_gris');
					$(this).addClass('btn_dore');
					lister_data_tresorerie();
				}
				else{
					
					$(this).removeClass('btn_dore');
					$(this).addClass('btn_gris');
					lister_data_tresorerie();
				}
				// aff de tableau recette
				$('#tableau_depense').fadeOut('fast');
				$('#tableau_recette').fadeIn('slow');
			})
			$('#btn_depense').on('click', function(ev){
				ev.preventDefault();
				if($(this).hasClass('btn_gris')){
					
					$(this).removeClass('btn_gris');
					$(this).addClass('btn_dore');
					lister_data_tresorerie();

				}
				else{
					
					$(this).removeClass('btn_dore');
					$(this).addClass('btn_gris');
					lister_data_tresorerie();

				}
				// aff de tableau depense
				$('#tableau_recette').fadeOut('fast');
				$('#tableau_depense').fadeIn('slow');
				$('#select_tres').val("depense").trigger('change');
			})
			// trier_by_btn_ok
			$('#trier_by_btn_ok').on('click', function(ev){
				ev.preventDefault();
				lister_data_tresorerie();
			})
			$('#action_hide_form').on('click', function(ev){
				ev.preventDefault();
				$("#contents").removeClass("show_form");
				$('#formulaire').addClass('form_hide');
			})

			$('#show_formulaire').on('click', function(ev){
				ev.preventDefault();
				$("#contents").addClass("show_form");
				$('#formulaire').removeClass('form_hide');
			})

			/* formulaire */

				$('#formulaire form input').on('focus', function(){
					$('#error_form').slideUp();
				})
				$("#choice").val("encaissement");
				$(".radio").change(function(){
						//console.log($(this).val());
					if($(this).val() == 'decaissement'){
						$('.form_recette').fadeOut();
						$('.form_depense').fadeIn();
						$("#choice").val("decaissement");
					}
					if($(this).val() == 'encaissement'){
						$('.form_depense').fadeOut();
						$('.form_recette').fadeIn();
						$("#choice").val("encaissement");
					}
				})

				/* anim form search */

				$("#select_search").change(function(){
					$("#input_search").val("");
					$("#input_search").attr("placeholder", $(this).val());
				})

				$("#button_search_tres").click(function(ev){
					ev.preventDefault();
					var select = $("#select_search").val();
					var input = $("#input_search").val();
					var data = {
						"select" : select,
						"input"	 : input
					}

					var jqxhr = $.post("/profile/search_tres", data, function(data){
						$('#body_tresorerie').html(data).promise().done(function(){
							var montant = document.querySelectorAll(".montant");
							var t = montant.length;
							var test = new Intl.NumberFormat();
							if (t > 0) {
								for (var i = 0; i < t; i++) {
									var val = test.format(montant[i].innerHTML);
									montant[i].innerHTML = val;
								}
							}
						});
					})

					jqxhr.done(function(data){
						console.log(data)
					})
					jqxhr.fail(function(data){
						console.log("erreur ajax search_tres")
					})

				})

				/* fin anim search */

				$('#ajout_tres').on('click', function(ev){
					
					ev.preventDefault();
					if(
						$("#date").val() == "" || $("#designation").val() == "" || $('#sage').val() =="" ||
						$('#mode_pmt').val() == "" || $("#compte_b").val() =="" 
						|| $('#monnaie').val() == ""
					){
						$("#error_form").slideDown();
						$("#error_form p").text('Veuillez remplir tous les champs')
					}
					else if(
						$("#date").val() != "" && $("#designation").val() != "" && $('#sage').val() !="" &&
						$('#mode_pmt').val() != "" && $("#compte_b").val() !="" 
						&& $('#monnaie').val() != ""
					){
						var data = {
							"date"			: $("#date").val(),
							"designation"	: $("#designation").val(),
							"num_compte"	: $('#num_compte').val(),
							"prestataire"	: $('#prestataire').val(),
							"sage"			: $('#sage').val(),
							"mode_pmt"		: $('#mode_pmt').val(),
							"compte_b"		: $("#compte_b").val(),
							"id_pro"		: $("#id_pro").val(),
							"client"		: $('#client').val(),
							"monnaie"		: $('#monnaie').val(),
							"encaissement_montant"	: $("#encaissement_montant").val(),
							"decaissement_montant"	: $("#decaissement_montant").val(),
							"choice"		: $("#choice").val(),
							"categorie"		: $("#categorie").val(),
							"categorie_recette" : $("#categorie_recette").val(),
							"sous_categorie"	: $("#sous_categorie").val(),
						}
					

						var jqxhr = $.post("/profile/add_tres", data, function(data){
							
						})

						jqxhr.done(function(data){
							$('.form_rec_dep form')[0].reset();
							$('#date1').val('');
							$('#date2').val('');
							lister_data_tresorerie();
							// affichena
							// $("#test").html(data);
						})
						jqxhr.fail(function(){
							alert('erreur au niveau de add tres')
						})
						// jqxhr.always(function(data){
						// 	alert(data + "always")
						// })
					}
				})
				
				$(document).mouseup(function(e) 
				{
					var container = $("#formulaire");

					// if the target of the click isn't the container nor a descendant of the container
					if (!container.is(e.target) && container.has(e.target).length === 0) 
					{
						$("#contents").removeClass("show_form");
						$('#formulaire').addClass('form_hide');
					}
				});


			/* /animation mode pmt */

			/*  search form  */

			

			/*fin search form*/
		})
	</script>
{% endblock %}


