{% extends "base.html.twig" %}
{% block title %}
	Cost
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}
{% block body %}
	<section
		id="contents" class="container-fluid">
		<!-- entete content -->
		{% include "nav2.html.twig" %}

		<!-- / entete content -->

		<!-- contenue nouveau client -->
		<div id="hrs_content">
			<div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<section class="section_part" id="section_part_top">
						<div class="sous_titre">
							<h3>Cost
							</h3>
						</div>
					</section>
				</div>
				<div
					class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">

					<!-- debut chart 1 -->
					<section class="section_part tab_content margin_tab graph_content">
						<div class="chart_title">
							<div class="chart_title-part">
								
							</div>
							<form action="" class="tri">
								<select name="" class="annee" id="annee_cost_montant">
									{% for a in tab_annee %}
                                        {% if annee == a %}
                                            <option value="{{ a }}" selected >{{ a }}</option>
                                        {% else %}
                                            <option value="{{ a }}">{{ a }}</option>
                                        {% endif %}    
									{% endfor %}
								</select>
							</form>
						</div>
						<section>

                            <div id = "element_canvas_cost">
                                <div>
                                    <canvas id="canvas_cost"></canvas>
                                </div>
                                <div id="chart-legends_cost"></div>
                            </div>

                        </section>


					</section>
					<!-- fin chart1  -->
                    <!-- debut chart 2 -->
					<section class="section_part tab_content margin_tab graph_content">
						<div class="chart_title">
							<div class="chart_title-part">

							</div>
							<form action="" class="tri">
								<select name="" class="annee" id="annee_cost_pourcent">
									{% for a in tab_annee %}
										{% if annee == a %}
                                            <option value="{{ a }}" selected >{{ a }}</option>
                                        {% else %}
                                            <option value="{{ a }}">{{ a }}</option>
                                        {% endif %}
									{% endfor %}
								</select> 
							</form>
						</div>
						<section>

                            <div id = "element_canvas_cost_pourcent">
                                <div>
                                    <canvas id="canvas_cost_pourcent"></canvas>
                                </div>
                                <div id="chart-legends_cost_pourcent"></div>

                            </div>
                        </section>

					</section>
					<!-- fin chart2  -->
				</div>


			</div>
		</div>
		<!-- / contenue nouveau client -->
        <i id = "bottom"></i>
	</section>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
                    var pseudo_hotel = '{{ hotel }}';
                    // debut chart  2


                    function draw_chart1(my_data_pd, my_data_d, my_data_di, my_data_t, my_data_salaire, my_labels, my_max, my_stepSize) {

                        var ctx2 = document.getElementById('canvas_cost').getContext("2d");


                        // var gradientstroke = ctx.createLinearGradient(700, 0, 0, 0);
                        // gradientstroke.addColorStop(0, '#00d8c0');
                        // gradientstroke.addColorStop(1, '#ff6a72');

                        var gradientfill_1 = ctx2.createLinearGradient(0, 0, 0, 320);
                        gradientfill_1.addColorStop(0, '#d29e00');
                        gradientfill_1.addColorStop(1, 'transparent');

                        var gradientfill_2 = ctx2.createLinearGradient(0, 0, 0, 320);
                        gradientfill_2.addColorStop(0, '#55d8ff');
                        gradientfill_2.addColorStop(1, 'transparent');

                        var gradientfill_3 = ctx2.createLinearGradient(0, 0, 0, 350);
                        gradientfill_3.addColorStop(0, '#3bc40a');
                        gradientfill_3.addColorStop(1, 'transparent');


                        var gradientfill_4 = ctx2.createLinearGradient(0, 0, 0, 350);
                        gradientfill_4.addColorStop(0, '#6e6e6e');
                        gradientfill_4.addColorStop(1, 'transparent');

                        var config2 = {
                            type: 'line',
                            data: {
                                datasets: [
                                {
                                    label: "Restaurant",
                                    fill: true,
                                    backgroundColor: gradientfill_1,
                                    borderColor: "#d29e00",

                                    /* insertion des données sur l'axe (oy) */

                                    data: my_data_pd,

                                    /* / insertion des données sur l'axe (oy) */

                                        pointStyle: 'circle',
                                        pointBackgroundColor: "transparent",
                                        pointBorderWidth: '2',
                                        radius: '5',
                                        hoverRadius: '5',
                                        borderWidth: 2

                                    }, 
                                    {
                                        label: "Electricité",
                                        fill: true,
                                        backgroundColor: gradientfill_2,
                                        borderColor: "#55d8ff",

                                        /* insertion des données sur l'axe (oy) */

                                        data: my_data_d,

                                        /* /insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                        }, 
                                        {
                                            label: "Eau",
                                            fill: true,
                                            backgroundColor: gradientfill_3,
                                            borderColor: "#3bc40a",

                                            /* insertion des données sur l'axe (oy) */

                                            data: my_data_di,

                                            /* insertion des données sur l'axe (oy) */

                                                pointStyle: 'circle',
                                                pointBackgroundColor: "transparent",
                                                pointBorderWidth: '2',
                                                radius: '5',
                                                hoverRadius: '5',
                                                borderWidth: 2
                                            }, 
                                            {
                                                label: "Gasoil",
                                                fill: true,
                                                backgroundColor: gradientfill_4,
                                                borderColor: "#6e6e6e",

                                                /* insertion des données sur l'axe (oy) */

                                                data: my_data_t,

                                            /* / insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                            },
                                            {
                                                label: "Salaire brut",
                                                fill: true,
                                                backgroundColor: gradientfill_4,
                                                borderColor: "#e38c2e",

                                                /* insertion des données sur l'axe (oy) */

                                                data: my_data_salaire,

                                            /* / insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                            }

                                        ]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                            align: 'start',
                                            position: 'bottom'

                                        },

                                        legendCallback: function (chart) {
                                            var text = [];
                                            text.push('<ul class="my_liste_legend ul_2">');
                                            for (var i = 0; i < chart.data.datasets.length; i++) {
                                                console.log(chart.data.datasets[i]); // see what's inside the obj.
                                                text.push('<li>');
                                                text.push('<span data_leg = "' + i + '" style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span><b data_leg = "' + i + '">' + chart.data.datasets[i].label + '</b>');
                                                text.push('</li>');
                                            }
                                            text.push('</ul>');
                                            return text.join("");
                                        },
                                        responsive: true,
                                            title: {
                                                display: true,
                                                text: ''
                                            },
                                        tooltips: {
                                            mode: 'index',
                                            intersect: false
                                        },
                                        hover: {
                                            mode: 'nearest',
                                            intersect: true
                                        },

                                        scales: {

                                            xAxes: [
                                            {
                                                type: 'category',
                                                /* insertion des données sur l'axe (ox) */
                                                labels: my_labels,

                                                /* / insertion des données sur l'axe (ox) */

                                                gridLines: {
                                                    drawOnChartArea: true,
                                                    drawTicks: false,
                                                    color: "#f0f2f4"
                                                },

                                                ticks: {
                                                    padding: 20 // pour le marge % axe x
                                                }
                                            }
                                        ],
                                        yAxes: [
                                        {
                                            gridLines: {
                                                drawOnChartArea: true,
                                                drawTicks: false,
                                                color: "#dddfe1"
                                            },
                                            ticks: {
                                                padding: 20, // pour le marge % axe y
                                                min: 0,
                                                max: my_max,
                                                stepSize : my_stepSize,
                                                callback: function (value) {
                                                   var test = new Intl.NumberFormat();
                                                    var val = test.format(value);
                                                    return val + " Ar"
                                                    }
                                            },
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: ''
                                        }
                                    }
                                ]
                            }
                        }

                    };
                    // si on veut ajouter un marge bottom des legendes
                    // Chart.Legend.prototype.afterFit = function() {
                    //     this.height = this.height + 150;

                    // };
                    var myChart1 = new Chart(ctx2, config2);
                    // pour dire qu'on va utiliser notre propre légende html fenitra
                    document.getElementById('chart-legends_cost').innerHTML = myChart1.generateLegend();

                    // legende 1

                    var ev_click = false;
                    var tab_temp = [];
                    for (var i = 0; i < myChart1.data.datasets[0].data.length; i++) { // myChart1.data.datasets[0].data[i]= -10;
                        tab_temp[i] = myChart1.data.datasets[0].data[i];
                    }
                    $("#chart-legends_cost").on('click', "li span[data_leg=0]", function () {

                        if (ev_click == false) {
                                $(".ul_2 li span[data_leg=0]").addClass("legende_click");
                                for (var i = 0; i < myChart1.data.datasets[0].data.length; i++) {
                                    myChart1.data.datasets[0].data[i] = -10;
                                }
                                myChart1.update();
                                ev_click = ! ev_click;
                            // alert(ev_click) ;
                        } else {
                            $(".ul_2 li span[data_leg=0]").removeClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[0].data.length; i++) {
                                myChart1.data.datasets[0].data[i] = tab_temp[i];
                            }
                            myChart1.update();
                            ev_click = ! ev_click;
                            // alert(ev_click) ;
                        }
                    });

                    // fin legende 1

                    // legende 2

                    var ev_click2 = false;
                    var tab_temp2 = [];
                    for (var i = 0; i < myChart1.data.datasets[1].data.length; i++) { // myChart1.data.datasets[0].data[i]= -10;
                        tab_temp2[i] = myChart1.data.datasets[1].data[i];
                    }
                    $("#chart-legends_cost").on('click', "li span[data_leg=1]", function () {

                        if (ev_click2 == false) {
                            $(".ul_2 li span[data_leg=1]").addClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[1].data.length; i++) {
                                myChart1.data.datasets[1].data[i] = -10;
                            }
                            myChart1.update();
                            ev_click2 = ! ev_click2;
                            // alert(ev_click2) ;
                        } else {
                        $(".ul_2 li span[data_leg=1]").removeClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[1].data.length; i++) {
                                myChart1.data.datasets[1].data[i] = tab_temp2[i];
                            }
                            myChart1.update();
                            ev_click2 = ! ev_click2;
                            // alert(ev_click2) ;
                        }
                    });

                    // fin legende 2

                    // legende 3

                    var ev_click3 = false;
                    var tab_temp3 = [];
                    for (var i = 0; i < myChart1.data.datasets[2].data.length; i++) { // myChart1.data.datasets[0].data[i]= -10;
                        tab_temp3[i] = myChart1.data.datasets[2].data[i];
                    }
                    $("#chart-legends_cost").on('click', "li span[data_leg=2]", function () {

                        if (ev_click3 == false) {
                            $(".ul_2 li span[data_leg=2]").addClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[2].data.length; i++) {
                                myChart1.data.datasets[2].data[i] = -10;
                            }
                            myChart1.update();
                            ev_click3 = ! ev_click3;
                            // alert(ev_click3) ;
                        } else {
                        $(".ul_2 li span[data_leg=2]").removeClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[2].data.length; i++) {
                                myChart1.data.datasets[2].data[i] = tab_temp3[i];
                            }
                            myChart1.update();
                            ev_click3 = ! ev_click3;
                            // alert(ev_click3) ;
                        }
                    });

                    // fin legende 3

                    // legende 4

                    var ev_click4 = false;
                    var tab_temp4 = [];
                    for (var i = 0; i < myChart1.data.datasets[3].data.length; i++) { // myChart1.data.datasets[0].data[i]= -10;
                        tab_temp4[i] = myChart1.data.datasets[3].data[i];
                    }
                    $("#chart-legends_cost").on('click', "li span[data_leg=3]", function () {

                        if (ev_click4 == false) {
                            $(".ul_2 li span[data_leg=3]").addClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[3].data.length; i++) {
                                myChart1.data.datasets[3].data[i] = -10;
                            }
                            myChart1.update();
                            ev_click4 = ! ev_click4;
                            // alert(ev_click4) ;
                        } else {
                        $(".ul_2 li span[data_leg=3]").removeClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[3].data.length; i++) {
                                myChart1.data.datasets[3].data[i] = tab_temp4[i];
                            }
                            myChart1.update();
                            ev_click4 = ! ev_click4;
                            // alert(ev_click4) ;
                        }
                    });

                    // fin legende 4

                    // legende 5

                    var ev_click5 = false;
                    var tab_temp5 = [];
                    for (var i = 0; i < myChart1.data.datasets[4].data.length; i++) { // myChart1.data.datasets[0].data[i]= -10;
                        tab_temp5[i] = myChart1.data.datasets[4].data[i];
                    }
                    $("#chart-legends_cost").on('click', "li span[data_leg=4]", function () {

                        if (ev_click5 == false) {
                            $(".ul_2 li span[data_leg=4]").addClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[4].data.length; i++) {
                                myChart1.data.datasets[4].data[i] = -10;
                            }
                            myChart1.update();
                            ev_click5 = ! ev_click5;
                            // alert(ev_click5) ;
                        } else {
                        $(".ul_2 li span[data_leg=4]").removeClass("legende_click");
                            for (var i = 0; i < myChart1.data.datasets[4].data.length; i++) {
                                myChart1.data.datasets[4].data[i] = tab_temp5[i];
                            }
                            myChart1.update();
                            ev_click5 = ! ev_click5;
                            // alert(ev_click4) ;
                        }
                    });

                    // fin legende 5


                    return myChart1;
                }

                // debut chart 2

                function draw_chart2(my_data_pd, my_data_d, my_data_di, my_data_t, my_data_salaire, my_labels, my_max, my_stepSize) {

                        var ctx2 = document.getElementById('canvas_cost_pourcent').getContext("2d");


                        // var gradientstroke = ctx.createLinearGradient(700, 0, 0, 0);
                        // gradientstroke.addColorStop(0, '#00d8c0');
                        // gradientstroke.addColorStop(1, '#ff6a72');

                        var gradientfill_1 = ctx2.createLinearGradient(0, 0, 0, 320);
                        gradientfill_1.addColorStop(0, '#d29e00');
                        gradientfill_1.addColorStop(1, 'transparent');

                        var gradientfill_2 = ctx2.createLinearGradient(0, 0, 0, 320);
                        gradientfill_2.addColorStop(0, '#55d8ff');
                        gradientfill_2.addColorStop(1, 'transparent');

                        var gradientfill_3 = ctx2.createLinearGradient(0, 0, 0, 350);
                        gradientfill_3.addColorStop(0, '#3bc40a');
                        gradientfill_3.addColorStop(1, 'transparent');


                        var gradientfill_4 = ctx2.createLinearGradient(0, 0, 0, 350);
                        gradientfill_4.addColorStop(0, '#6e6e6e');
                        gradientfill_4.addColorStop(1, 'transparent');

                        var config2 = {
                            type: 'line',
                            data: {
                                datasets: [
                                {
                                    label: "Restaurant",
                                    fill: true,
                                    backgroundColor: gradientfill_1,
                                    borderColor: "#d29e00",

                                    /* insertion des données sur l'axe (oy) */

                                    data: my_data_pd,

                                    /* / insertion des données sur l'axe (oy) */

                                        pointStyle: 'circle',
                                        pointBackgroundColor: "transparent",
                                        pointBorderWidth: '2',
                                        radius: '5',
                                        hoverRadius: '5',
                                        borderWidth: 2

                                    }, 
                                    {
                                        label: "Electricité",
                                        fill: true,
                                        backgroundColor: gradientfill_2,
                                        borderColor: "#55d8ff",

                                        /* insertion des données sur l'axe (oy) */

                                        data: my_data_d,

                                        /* /insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                        }, 
                                        {
                                            label: "Eau",
                                            fill: true,
                                            backgroundColor: gradientfill_3,
                                            borderColor: "#3bc40a",

                                            /* insertion des données sur l'axe (oy) */

                                            data: my_data_di,

                                            /* insertion des données sur l'axe (oy) */

                                                pointStyle: 'circle',
                                                pointBackgroundColor: "transparent",
                                                pointBorderWidth: '2',
                                                radius: '5',
                                                hoverRadius: '5',
                                                borderWidth: 2
                                            }, 
                                            {
                                                label: "Gasoil",
                                                fill: true,
                                                backgroundColor: gradientfill_4,
                                                borderColor: "#6e6e6e",

                                                /* insertion des données sur l'axe (oy) */

                                                data: my_data_t,

                                            /* / insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                            },
                                            {
                                                label: "Salaire brut",
                                                fill: true,
                                                backgroundColor: gradientfill_4,
                                                borderColor: "#e38c2e",

                                                /* insertion des données sur l'axe (oy) */

                                                data: my_data_salaire,

                                            /* / insertion des données sur l'axe (oy) */

                                            pointStyle: 'circle',
                                            pointBackgroundColor: "transparent",
                                            pointBorderWidth: '2',
                                            radius: '5',
                                            hoverRadius: '5',
                                            borderWidth: 2
                                            }

                                        ]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                            align: 'start',
                                            position: 'bottom'

                                        },

                                        legendCallback: function (chart) {
                                            var text = [];
                                            text.push('<ul class="my_liste_legend ul_2">');
                                            for (var i = 0; i < chart.data.datasets.length; i++) {
                                                console.log(chart.data.datasets[i]); // see what's inside the obj.
                                                text.push('<li>');
                                                text.push('<span data_leg = "' + i + '" style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span><b data_leg = "' + i + '">' + chart.data.datasets[i].label + '</b>');
                                                text.push('</li>');
                                            }
                                            text.push('</ul>');
                                            return text.join("");
                                        },
                                        responsive: true,
                                            title: {
                                                display: true,
                                                text: ''
                                            },
                                        tooltips: {
                                            mode: 'index',
                                            intersect: false
                                        },
                                        hover: {
                                            mode: 'nearest',
                                            intersect: true
                                        },

                                        scales: {

                                            xAxes: [
                                            {
                                                type: 'category',
                                                /* insertion des données sur l'axe (ox) */
                                                labels: my_labels,

                                                /* / insertion des données sur l'axe (ox) */

                                                gridLines: {
                                                    drawOnChartArea: true,
                                                    drawTicks: false,
                                                    color: "#f0f2f4"
                                                },

                                                ticks: {
                                                    padding: 20 // pour le marge % axe x
                                                }
                                            }
                                        ],
                                        yAxes: [
                                        {
                                            gridLines: {
                                                drawOnChartArea: true,
                                                drawTicks: false,
                                                color: "#dddfe1"
                                            },
                                            ticks: {
                                                padding: 20, // pour le marge % axe y
                                                min: 0,
                                                max: my_max,
                                                stepSize : my_stepSize,
                                                callback: function (value) {
                                                    return value + " %"
                                                }
                                            },
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: ''
                                        }
                                    }
                                ]
                            }
                        }

                    };
                    // si on veut ajouter un marge bottom des legendes
                    // Chart.Legend.prototype.afterFit = function() {
                    //     this.height = this.height + 150;

                    // };
                    var myChart2 = new Chart(ctx2, config2);
                    // pour dire qu'on va utiliser notre propre légende html fenitra
                    document.getElementById('chart-legends_cost_pourcent').innerHTML = myChart2.generateLegend();

                    // legende 1

                    var ev_click = false;
                    var tab_temp = [];
                    for (var i = 0; i < myChart2.data.datasets[0].data.length; i++) { // myChart2.data.datasets[0].data[i]= -10;
                        tab_temp[i] = myChart2.data.datasets[0].data[i];
                    }
                    $("#chart-legends_cost_pourcent").on('click', "li span[data_leg=0]", function () {

                        if (ev_click == false) {
                                $(".ul_2 li span[data_leg=0]").addClass("legende_click");
                                for (var i = 0; i < myChart2.data.datasets[0].data.length; i++) {
                                    myChart2.data.datasets[0].data[i] = -10;
                                }
                                myChart2.update();
                                ev_click = ! ev_click;
                            // alert(ev_click) ;
                        } else {
                            $(".ul_2 li span[data_leg=0]").removeClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[0].data.length; i++) {
                                myChart2.data.datasets[0].data[i] = tab_temp[i];
                            }
                            myChart2.update();
                            ev_click = ! ev_click;
                            // alert(ev_click) ;
                        }
                    });

                    // fin legende 1

                    // legende 2

                    var ev_click2 = false;
                    var tab_temp2 = [];
                    for (var i = 0; i < myChart2.data.datasets[1].data.length; i++) { // myChart2.data.datasets[0].data[i]= -10;
                        tab_temp2[i] = myChart2.data.datasets[1].data[i];
                    }
                    $("#chart-legends_cost_pourcent").on('click', "li span[data_leg=1]", function () {

                        if (ev_click2 == false) {
                            $(".ul_2 li span[data_leg=1]").addClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[1].data.length; i++) {
                                myChart2.data.datasets[1].data[i] = -10;
                            }
                            myChart2.update();
                            ev_click2 = ! ev_click2;
                            // alert(ev_click2) ;
                        } else {
                        $(".ul_2 li span[data_leg=1]").removeClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[1].data.length; i++) {
                                myChart2.data.datasets[1].data[i] = tab_temp2[i];
                            }
                            myChart2.update();
                            ev_click2 = ! ev_click2;
                            // alert(ev_click2) ;
                        }
                    });

                    // fin legende 2

                    // legende 3

                    var ev_click3 = false;
                    var tab_temp3 = [];
                    for (var i = 0; i < myChart2.data.datasets[2].data.length; i++) { // myChart2.data.datasets[0].data[i]= -10;
                        tab_temp3[i] = myChart2.data.datasets[2].data[i];
                    }
                    $("#chart-legends_cost_pourcent").on('click', "li span[data_leg=2]", function () {

                        if (ev_click3 == false) {
                            $(".ul_2 li span[data_leg=2]").addClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[2].data.length; i++) {
                                myChart2.data.datasets[2].data[i] = -10;
                            }
                            myChart2.update();
                            ev_click3 = ! ev_click3;
                            // alert(ev_click3) ;
                        } else {
                        $(".ul_2 li span[data_leg=2]").removeClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[2].data.length; i++) {
                                myChart2.data.datasets[2].data[i] = tab_temp3[i];
                            }
                            myChart2.update();
                            ev_click3 = ! ev_click3;
                            // alert(ev_click3) ;
                        }
                    });

                    // fin legende 3

                    // legende 4

                    var ev_click4 = false;
                    var tab_temp4 = [];
                    for (var i = 0; i < myChart2.data.datasets[3].data.length; i++) { // myChart2.data.datasets[0].data[i]= -10;
                        tab_temp4[i] = myChart2.data.datasets[3].data[i];
                    }
                    $("#chart-legends_cost_pourcent").on('click', "li span[data_leg=3]", function () {

                        if (ev_click4 == false) {
                            $(".ul_2 li span[data_leg=3]").addClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[3].data.length; i++) {
                                myChart2.data.datasets[3].data[i] = -10;
                            }
                            myChart2.update();
                            ev_click4 = ! ev_click4;
                            // alert(ev_click4) ;
                        } else {
                        $(".ul_2 li span[data_leg=3]").removeClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[3].data.length; i++) {
                                myChart2.data.datasets[3].data[i] = tab_temp4[i];
                            }
                            myChart2.update();
                            ev_click4 = ! ev_click4;
                            // alert(ev_click4) ;
                        }
                    });

                    // fin legende 4

                    // legende 5

                    var ev_click5 = false;
                    var tab_temp5 = [];
                    for (var i = 0; i < myChart2.data.datasets[4].data.length; i++) { // myChart2.data.datasets[0].data[i]= -10;
                        tab_temp5[i] = myChart2.data.datasets[4].data[i];
                    }
                    $("#chart-legends_cost_pourcent").on('click', "li span[data_leg=4]", function () {

                        if (ev_click5 == false) {
                            $(".ul_2 li span[data_leg=4]").addClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[4].data.length; i++) {
                                myChart2.data.datasets[4].data[i] = -10;
                            }
                            myChart2.update();
                            ev_click5 = ! ev_click5;
                            // alert(ev_click5) ;
                        } else {
                        $(".ul_2 li span[data_leg=4]").removeClass("legende_click");
                            for (var i = 0; i < myChart2.data.datasets[4].data.length; i++) {
                                myChart2.data.datasets[4].data[i] = tab_temp5[i];
                            }
                            myChart2.update();
                            ev_click5 = ! ev_click5;
                            // alert(ev_click4) ;
                        }
                    });

                    // fin legende 5


                    return myChart2;
                }

                // fin chart2

                    // responsive pour les chart

                    function add_resp_heb(myChart1, myChart2) {

                        myChart1.options.scales.yAxes[0].ticks.fontSize = 7;
                        myChart1.options.scales.yAxes[0].ticks.padding = 10;
                        myChart1.options.scales.yAxes[0].ticks.stepSize = 20;
                        myChart1.options.scales.xAxes[0].ticks.stepSize = 0;
                        myChart1.options.scales.xAxes[0].ticks.fontSize = 8;
                       
                        myChart1.options.scales.yAxes[0].ticks.fontSize = 7;
                        myChart1.options.scales.xAxes[0].ticks.fontSize = 7;
                        for (var i = myChart1.data.datasets.length - 1; i >= 0; i--) {
                            myChart1.data.datasets[i].radius = '3';
                        }
                        myChart1.update();

                        myChart2.options.scales.yAxes[0].ticks.fontSize = 7;
                        myChart2.options.scales.yAxes[0].ticks.padding = 10;
                        myChart2.options.scales.yAxes[0].ticks.stepSize = 20;
                        myChart2.options.scales.xAxes[0].ticks.stepSize = 0;
                        myChart2.options.scales.xAxes[0].ticks.fontSize = 8;
                       
                        myChart2.options.scales.yAxes[0].ticks.fontSize = 7;
                        myChart2.options.scales.xAxes[0].ticks.fontSize = 7;
                        for (var i = myChart2.data.datasets.length - 1; i >= 0; i--) {
                            myChart2.data.datasets[i].radius = '3';
                        }
                        myChart2.update();
                    }

                    var my_data_resto_value = [
                        {% for t in tab_resto_value %}
                            {{ t }},
                        {% endfor %}
                    ];
                    my_data_resto_value = merge_data(my_data_resto_value);

                    var my_data_elec_value = [
                        {% for t in tab_elec_value %}
                            {{ t }},
                        {% endfor %}
                    ];
                    my_data_elec_value = merge_data(my_data_elec_value);

                    var my_data_eau_value = [
                        {% for t in tab_eau_value %}
                            {{ t }},
                        {% endfor %}
                    ];
                    
                    my_data_eau_value = merge_data(my_data_eau_value);

                    var my_data_gasoil_value = [
                        {% for t in tab_gasoil_value %}
                            {{ t }},
                        {% endfor %}
                    ];

                    my_data_gasoil_value = merge_data(my_data_gasoil_value);

                    var my_data_salaire_value = [
                        {% for t in tab_salaire_value %}
                            {{ t }},
                        {% endfor %}
                    ]

                    my_data_salaire_value = merge_data(my_data_salaire_value);

                    var my_data_resto_p = [
                        {% for t in tab_resto_p %}
                            {{ t }},
                        {% endfor %}
                    ];

                    my_data_resto_p = merge_data(my_data_resto_p);

                    var my_data_elec_p = [
                        {% for t in tab_elec_p %}
                            {{ t }},
                        {% endfor %}
                    ];

                    my_data_elec_p = merge_data(my_data_elec_p);

                    var my_data_eau_p = [
                        {% for t in tab_eau_p %}
                            {{ t }},
                        {% endfor %}
                    ];

                    my_data_eau_p = merge_data(my_data_eau_p);

                    var my_data_gasoil_p = [
                        {% for t in tab_gasoil_p %}
                            {{ t }},
                        {% endfor %}
                    ];

                    my_data_gasoil_p = merge_data(my_data_gasoil_p);

                    var my_data_salaire_p = [
                        {% for t in tab_salaire_p %}
                            {{ t }},
                        {% endfor %}
                    ]

                    my_data_salaire_p = merge_data(my_data_salaire_p);

                    // function pour les combinaisons des donnée à afficher dans le graphe
                    function merge_data(tab){
                         var souche = {
                                    '0' : 0,
                                    '1' : 0,
                                    '2' : 0,
                                    '3' : 0,
                                    '4' : 0,
                                    '5' : 0,
                                    '6' : 0,
                                    '7' : 0,
                                    '8' : 0,
                                    '9' : 0,
                                    '10' : 0,
                                    '11' : 0
                                }
                                for (var item in tab) {
                                    souche[item] = tab[item];
                                }
                                //console.log(souche);
                                var souche2  = [];
                                for (var item in souche) {
                                   souche2.push(souche[item]);
                                }
                                return souche2;
                    }

					var my_labels = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];

                    function findArrayMax(array){
                        return Math.max(...array);
                    }

                    function portionner(val){
                        return parseInt(val / 4) ;
                    } 

                    function max_for_arrays(ar1, ar2, ar3, ar4, ar5){
                        var m1 = findArrayMax(ar1);
                        var m2 = findArrayMax(ar2);
                        var m3 = findArrayMax(ar3);
                        var m4 = findArrayMax(ar4);
                        var m5 = findArrayMax(ar5);
                        var array = [m1, m2, m3, m4, m5];
                        
                        return Math.max(...array);
                    }

                   var Max = max_for_arrays(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value);
                   
                    var w = $(window).width();
                    if (w <= 768) {
                        
                        if(Max != 0){
                            var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                        }
                        else if(Max == 0){
                            Max = 100;
                            var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                        }
                        var myChart2 = draw_chart2(my_data_resto_p, my_data_elec_p, my_data_eau_p, my_data_gasoil_p, my_data_salaire_p, my_labels, 100, 10);
                        add_resp_heb(myChart1, myChart2);
                    } else {
                        if(Max != 0){
                            var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                        }
                        else if(Max == 0){
                            Max = 100;
                            var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                        }
                        var myChart2 = draw_chart2(my_data_resto_p, my_data_elec_p, my_data_eau_p, my_data_gasoil_p, my_data_salaire_p, my_labels, 100, 10);
                    }
                
                /* tri graph res  */
                    
					$('#annee_cost_montant').on('change', function(){
						$('#element_canvas_cost').empty();
					
						var annee = $('#annee_cost_montant').val();
						var data = {'data' : annee};
						//alert(data.data);
						$.ajax({
							url : "/profile/filtre/graph/cost_montant/"+pseudo_hotel,
							type : "POST",
							data : data,
							success : function(response){
								var my_data = response;
                                //console.log(my_data);
                                var my_data_resto_value = response.tab_resto_value;
                                my_data_resto_value = merge_data(my_data_resto_value);
                                var my_data_elec_value = response.tab_elec_value;
                                my_data_elec_value = merge_data(my_data_elec_value);
                                var my_data_eau_value = response.tab_eau_value;
                                my_data_eau_value = merge_data(my_data_eau_value);
                                var my_data_gasoil_value = response.tab_gasoil_value;
                                my_data_gasoil_value = merge_data(my_data_gasoil_value);
                                var my_data_salaire_value = response.tab_salaire_value;
                                my_data_salaire_value = merge_data(my_data_salaire_value);
                                var my_labels = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];
                                var w = $(window).width();
                                var Max = max_for_arrays(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value);
                                $('#element_canvas_cost').html('<div><canvas id="canvas_cost"></canvas></div><div id="chart-legends_cost"></div>');
                                var w = $(window).width();
                                if (w <= 768) {
                                    
                                    if(Max != 0){
                                        var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                                    }
                                    else if(Max == 0){
                                        Max = 100;
                                        var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                                    }
                
                                } else {
                                    if(Max != 0){
                                        var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                                    }
                                    else if(Max == 0){
                                        Max = 100;
                                        var myChart1 = draw_chart1(my_data_resto_value, my_data_elec_value, my_data_eau_value, my_data_gasoil_value, my_data_salaire_value, my_labels,Max, portionner(Max));
                                    }
                                }
							}, 
							error : function(error){
								alert('erreur server au niveau de triage chart cost montant annee'+pseudo_hotel)
							}
						})
                    })

                    // tri graph pourcentage

                    $('#annee_cost_pourcent').on('change', function(){
						 $('#element_canvas_cost_pourcent').empty();
					
						var annee = $('#annee_cost_pourcent').val();
						var data = {'data' : annee};
						//alert(data.data);
						$.ajax({
							url : "/profile/filtre/graph/cost_pourcent/"+pseudo_hotel,
							type : "POST",
							data : data,
							success : function(response){
								var my_data = response;
                                //console.log(my_data);
                                var my_data_resto_p = response.tab_resto_p;
                                my_data_resto_p = merge_data(my_data_resto_p);
                                var my_data_elec_p = response.tab_elec_p;
                                my_data_elec_p = merge_data(my_data_elec_p);
                                var my_data_eau_p = response.tab_eau_p;
                                my_data_eau_p = merge_data(my_data_eau_p);
                                var my_data_gasoil_p = response.tab_gasoil_p;
                                my_data_gasoil_p = merge_data(my_data_gasoil_p);
                                var my_data_salaire_p = response.tab_salaire_p;
                                my_data_salaire_p = merge_data(my_data_salaire_p);
                                var my_labels = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];
                                var w = $(window).width();
                                if (w <= 768) {
                                    $('#element_canvas_cost_pourcent').html('<div><canvas id="canvas_cost_pourcent"></canvas></div><div id="chart-legends_cost_pourcent"></div>');
                                    var myChart2 = draw_chart2(my_data_resto_p, my_data_elec_p, my_data_eau_p, my_data_gasoil_p, my_data_salaire_p, my_labels, 100, 10);
                                    myChart2.update();
                                } else {
                                    $('#element_canvas_cost_pourcent').html('<div><canvas id="canvas_cost_pourcent"></canvas></div><div id="chart-legends_cost_pourcent"></div>');
                                    var myChart2 = draw_chart2(my_data_resto_p, my_data_elec_p, my_data_eau_p, my_data_gasoil_p, my_data_salaire_p, my_labels, 100, 10);
                                    myChart2.update();
                                }
							}, 
							error : function(error){
								alert('erreur server au niveau de triage chart cost montant annee'+pseudo_hotel)
							}
						})
                    })
                    
                
    })
	</script>


{% endblock %}
